<%- include ("header.ejs"); %>

<div class="pc-container">
  <div class="pc-content">

    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Add</a></li>
              <li class="breadcrumb-item">
                <a href="javascript: void(0)">Add Products</a>
              </li>
              <li class="breadcrumb-item" aria-current="page">Products</li>
            </ul>
          </div>
          <div class="col-md-12">
            <div class="page-header-title">
              <h2 class="mb-0">Add Products</h2>
            </div>
          </div>
        </div>
      </div>
    </div>


<div class="row">

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Add One type</h4>
      </div>
      <div class="card-body">
        <form method="post" action="/addproducts">
          <h6>Product Names</h6>

          <div
            class="d-flex flex-wrap justify-content-center align-items-center mt-1 gap-5"
          >
            <div class="form-group">
              <input type="radio" name="type" value="facebook" id="facebook" />
              <label for="facebook">Facebook</label>
            </div>

            <div class="form-group">
              <input type="radio" name="type" value="twitter" id="twitter" />
              <label for="twitter">Facebook Dating</label>
            </div>

            <div class="form-group">
              <input
                type="radio"
                name="name"
                value="instagram"
                id="instagram"
              />
              <label for="instagram">Facebook other countries</label>
            </div>

            <div class="form-group">
              <input type="radio" name="type" value="google" id="google" />
              <label for="google">Twitter</label>
            </div>

            <div class="form-group">
              <input type="radio" name="type" value="google" id="google" />
              <label for="google">Reddit</label>
            </div>

            <div class="form-group">
              <input type="radio" name="type" value="google" id="google" />
              <label for="google">Mails</label>
            </div>

            <div class="form-group">
              <input type="radio" name="type" value="google" id="google" />
              <label for="google">Us texting</label>
            </div>

            <div class="form-group">
              <input type="radio" name="type" value="google" id="google" />
              <label for="google">Instagram</label>
            </div>

            <div class="form-group">
              <input type="radio" name="type" value="google" id="google" />
              <label for="google">Tiktok</label>
            </div>

            <div class="form-group">
              <input type="radio" name="type" value="google" id="google" />
              <label for="google">Linkedin</label>
            </div>

            <div class="form-group">
              <input type="radio" name="type" value="google" id="google" />
              <label for="google">vpn</label>
            </div>
          </div>
          <div class="form-group">
            <label
              >Add
              <small
                >type of product or name of product in the case of others</small
              >
            </label>
            <!-- <input
              type="text"
              id="comment-name"
              name="type"
              placeholder="Your Name"
              required=""
            /> -->
            <!-- <input type="text" name="type" class="form-control" /> -->
          </div>

          <div class="form-group">
            <!-- <label>price </label>
            <input
              type="number"
              id="comment-name"
              name="price"
              placeholder="Your Name"
              required=""
            /> -->
            <!-- <input type="number" name="price" class="form-control" /> -->
          </div>

          <div
            class=""
            style="
              border-bottom: 1px solid;
              display: flex;
              display: flex;
              justify-content: space-between;
            "
          >
            <div
              class="btn btn-success mt-3"
              style="cursor: pointer; border-bottom: 1px solid"
              id="createInputs"
            >
              Add Details
            </div>


            <div class="d-flex align-items-end">
              <div class="mr-2">Total No</div>
              <input
                name="totals"
                class=""
                style="border: none; outline: none; width: 20px"
                id="totals"
              />
            </div>
          </div>

          <div class="pt-2" id="containCreated"></div>

          <div class="text-end mt-5">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<%- include ("footer.ejs"); %>
