
<!--footer-->
</div>





<script src="https://code.jquery.com/jquery-3.7.0.js"></script>

<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

<script src="assets/js/jquery-3.6.0.min.js"></script>

<script src="assets/js/popper.min.js"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<script src="assets/js/admin.js"></script>

<!-- <input type="text" name="info${increment}" class="form-control"> -->

<script>
    $(document).ready(function() {

        new DataTable('#data_table');

        let increment = 1;

        $("#totals").val(increment - 1); //.text(increment - 1);

    
        $("#createInputs").click(function(){
            console.log("Called add function");
            $('#containCreated').append(`
             <div id="removediv${increment}">
                <small>${increment}</small>
                <div class="form-group mt-3" id="title${increment}" style="margin: 4px !important">
                    <label>Title</label>
                    <input type="number" id="comment-name" name="info${increment}" required="" />
                </div>

                <div class="form-group mt-3" id="title${increment}" style="margin: 4px !important">
                    <label>Price</label>
                    <input type="number" id="comment-name" name="price${increment}"  required="" />
                </div>

                <div class="form-group mt-3" id="infoid${increment}" style="margin: 4px !important">
                    <label> username/password (must be comma(,) seperated) --sample(username,password) </label>
                    <input type="number" id="comment-name" name="info${increment}"  required="" />
                </div>

                <div class="form-group" id="detailsid${increment}" style="margin: 4px !important">
                    <label>Extra Details --sample (1123443|sample|auth) (!should not contain username or password)</label>
                    <input type="number" id="comment-name" name="details${increment}" placeholder="Your Name" required="" />
                </div>

                <div class="form-group" id="formatid${increment}" style="margin: 4px !important">
                    <label>Format for files (how passwords and auths are arranged) --sample (email|password|auths) </label>
                    <input type="number" id="comment-name" name="format${increment}" placeholder="Your Name" required="" />
                </div>

                <div class="form-group" id="descriptionid${increment}" style="margin: 4px !important">
                    <label>description for products (how to use and devices to use it for)</label>
                    <input type="number" id="comment-name" name="description${increment}" placeholder="Your Name" required="" />
                </div>

             </div>
            `);
            const add =  parseInt(increment);
            console.log(add, "work");
             increment = add + 1;
            console.log(increment, "inc");
           $("#totals").val(increment - 1)   //.text(increment - 1);
        })

      
        //remove
    $("#removal").click(function(event){
        event.preventDefault();
        console.log("clicked clicked");
        let id = $('#removenumber').val();
        console.log(id, "id selected");
        console.log("Called remove");
        //$(`#detailsid${id}`).remove();
        //$(`#descriptionid${id}`).remove();
        $(`#removediv${id}`).remove()
        console.log(increment, "check increment");
        let reset = increment - 1;
        increment = reset;
            $("#totals").val(reset - 1)  //.text(reset - 1);
            $('#removenumber').val("");
    })



     
    });
</script>


</body>

<!-- Mirrored from truelysell-admin.dreamguystech.com/template/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Dec 2022 23:25:53 GMT -->
</html>