<footer class="footer">
    <div class="container">

        <!-- End FooterTop -->
        <div class="footer-middle">
            <div class="footer-left">
                <ul class="widget-body">
                    <li>
                        <a href="tel:#" class="footer-icon-box">
                            <i class="p-icon-phone-solid"></i>
                            <span>+456 789 000</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="">
                            <i class="p-icon-map"></i>
                            <span>25 West 21th Street, Miami FL, USA</span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:mail@panda.com" class="">
                            <i class="p-icon-message"></i>
                            <span>info@panda.com</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="">
                            <i class="p-icon-clock"></i>
                            <span>Mon-Fri: 10:00 - 18:00</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-center">
                <a href="demo1.html" class="logo-footer">
                    <img src="images/logo.png" alt="logo-footer" width="171" height="41">
                </a>
                <div class="social-links">
                    <a href="#" class="social-link fab fa-facebook-f" title="Facebook"></a>
                    <a href="#" class="social-link fab fa-twitter" title="Twitter"></a>
                    <a href="#" class="social-link fab fa-pinterest" title="Pinterest"></a>
                    <a href="#" class="social-link fab fa-linkedin-in" title="Linkedin"></a>
                </div>
                <!-- End of Social Links -->
            </div>
            <div class="footer-right">
                <div class="widget-newsletter">
                    <h4 class="widget-title">Subscribe Newsletter</h4>
                    <p>Subscribe to the Panda eCommerce Newsletter<br> updates from your favourite products.
                    </p>
                    <form action="#" class="form-simple">
                        <input type="email" name="email" id="email" placeholder="Email address here..."
                            required="">
                        <button class="btn btn-link" type="submit">sign up</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- End FooterMiddle -->
        <div class="footer-bottom">
            <p class="copyright">Panda eCommerce © 2022. All Rights Reserved</p>
            <figure>
                <img src="images/payment.png" alt="payment" width="159" height="29">
            </figure>
        </div>
        <!-- End FooterBottom -->
    </div>
</footer>
<!-- End Footer -->
</div>
<!-- Sticky Footer -->
<div class="sticky-footer sticky-content fix-bottom">
<a href="/" class="sticky-link">
    <i class="p-icon-home"></i>
    <span>Home</span>
</a>
<a href="/shop" class="sticky-link">
    <i class="p-icon-category"></i>
    <span>shop</span>
</a>
<a data-toggle="login-modal" class="sticky-link login-toggle">
    <i class="p-icon-user-solid"></i>
    <span>Account</span>
</a>
<div class="header-search hs-toggle dir-up">
    <a href="#" class="search-toggle sticky-link">
        <i class="p-icon-search-solid"></i>
        <span>Search</span>
    </a>
    <form action="#" class="form-simple">
        <input type="text" name="search" autocomplete="off" placeholder="Search your keyword..." required />
        <button class="btn btn-search" type="submit">
            <i class="p-icon-search-solid"></i>
        </button>
    </form>
</div>
</div>
<!-- Scroll Top -->
<a id="scroll-top" class="scroll-top" href="#top" title="Top" role="button"> <i class="p-icon-arrow-up"></i>
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70">
    <circle id="progress-indicator" fill="transparent" stroke="#000000" stroke-miterlimit="10" cx="35" cy="35"
        r="34" style="stroke-dasharray: 108.881, 400;"></circle>
</svg>
</a>

<!-- MobileMenu -->
<div class="mobile-menu-wrapper">
<div class="mobile-menu-overlay">
</div>
<!-- End Overlay -->
<a class="mobile-menu-close" href="#"><i class="p-icon-times"></i></a>
<!-- End CloseButton -->
<div class="mobile-menu-container scrollable">
    <form action="#" class="inline-form">
        <input type="search" name="search" autocomplete="off" placeholder="Search your keyword..." required />
        <button class="btn btn-search" type="submit">
            <i class="p-icon-search-solid"></i>
        </button>
    </form>
    <!-- End Search Form -->
    <ul class="mobile-menu mmenu-anim">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/shop">Shop</a>
        </li>
        <li>
            <a href="/dashboard">Dashboard</a>
        </li>
        <li><a href="#">Watch us!</a></li>
    </ul>
    <!-- End MobileMenu -->
</div>
</div>

<!-- Plugins JS File -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/owl-carousel/owl.carousel.min.js"></script>
<script src="vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="vendor/elevatezoom/jquery.elevatezoom.min.js"></script>
<!-- Main JS File -->
<script src="js/main.js"></script>
<script>
    $(document).ready(function() {

        let selectedValue ;
    
        $("#ddlViewBy").click(function(){
            console.log($('#ddlViewBy').val());
            selectedValue = $('#ddlViewBy').val();
        })

        //window.location.replace(url)


        $("#purchasefacebook").click(function(){
            console.log("called purchase");
            if(selectedValue != "") {
                window.location.replace(`http://localhost:3000/buypage/${selectedValue}`);
            }

        })


        $("#purchasetwitter").click(function(){
            console.log("called purchase");
            if(selectedValue != "") {
                window.location.replace(`http://localhost:3000/buypage/${selectedValue}`);
            }

        })


        $("#purchaseinstagram").click(function(){
            console.log("called purchase");
            if(selectedValue != "") {
                window.location.replace(`http://localhost:3000/buypage/${selectedValue}`);
            }

        })


        $("#purchasegoogle").click(function(){
            console.log("called purchase");
            if(selectedValue != "") {
                window.location.replace(`http://localhost:3000/buypage/${selectedValue}`);
            }

        })
     
    });
</script>
</body>


<!-- Mirrored from d-themes.com/html/panda/demo1.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 28 Nov 2022 04:19:50 GMT -->
</html>