

<div class="modal fade" id="cust-modal" data-bs-keyboard="false" tabindex="-1"
aria-hidden="true">
<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
  <div class="modal-content">
    <div class="modal-header border-0 pb-0">
      <h5 class="mb-0">Product Details</h5>
      <a href="#" class="avtar avtar-s btn-link-danger btn-pc-default" data-bs-dismiss="modal">
        <i class="ti ti-x f-20"></i>
      </a>
    </div>
    <div class="modal-body">
      <div class="row align-items-center">
        <div class="col-sm-4">
          <div class="bg-light rounded position-relative">
            <div class="text-center">
              <div class="chat-avtar d-inline-flex mx-auto">
                <img class="img-fluid rounded" src="../assets/images/application/img-prod-4.jpg"
                  alt="User image">
              </div>
            </div>
            <div class="position-absolute end-0 top-0 p-3">
              <span class="badge bg-success">In Stock</span>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <h5>Canon EOS 1500D 24.1 Digital</h5>
          <p class="text-muted">Image Enlargement: After shooting, you can enlarge photographs of the objects for clear zoomed view. Change In Aspect Ratio: Boldly crop the subject and save it with a composition that has impact.</p>
          <div class="table-responsive">
            <table class="table w-auto table-borderless">
              <tbody>
                <tr>
                  <td class="text-muted py-1">Categories</td>
                  <td class="py-1">Electronics, Camera</td>
                </tr>
                <tr>
                  <td class="text-muted py-1">Qty</td>
                  <td class="py-1">21</td>
                </tr>
                <tr>
                  <td class="text-muted py-1">Price</td>
                  <td class="py-1"><h5 class="mb-0">$399</h5></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- footer start -->
<footer>
    <div class="footer-style-1">
        <div class="footer-style-1__animation1">
            <img src="/assets/img/footer/dot-line.svg" alt="shape">
        </div>
        <div class="footer-style-1__animation2">
            <img src="/assets/img/footer/angle.svg" alt="shape">
        </div>
        <div class="footer-style-1__animation3">
            <img src="/assets/img/footer/squre.svg" alt="shape">
        </div>
        <div class="footer-style-1__animation4">
            <img src="/assets/img/footer/star.svg" alt="shape">
        </div>
        <div class="footer-style-1__animation5">
            <img src="/assets/img/footer/dot-line-2.svg" alt="shape">
        </div>

        
        <div class="container">


            <div class="footer-bottom pt-120 pb-55">
                <div class="row">
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="copyright">
                            <p>© 2024 Socailogs All Rights Reserved.</p>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="footer-bottom-menu">
                            <ul>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Term of Service</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->

<!--Dashboard js-->
<!-- [ footer apps ] End -->

  <!-- [ Main Content ] end -->
  <script src="/assetsdashboard/code.jquery.com/jquery-3.6.1.min.js"></script>

  <!-- Required Js -->
  <script src="/assetsdashboard/js/plugins/popper.min.js"></script>
  <script src="/assetsdashboard/js/plugins/simplebar.min.js"></script>
  <script src="/assetsdashboard/js/plugins/bootstrap.min.js"></script>
  <script src="/assetsdashboard/js/fonts/custom-font.js"></script>
  <script src="/assetsdashboard/js/pcoded.js"></script>
  <script src="/assetsdashboard/js/plugins/feather.min.js"></script>
  <!-- [Page Specific JS] start -->
  <script src="/assetsdashboard/js/plugins/wow.min.js"></script>
  <script src="/assetsdashboard/cdn.jsdelivr.net/jquery.marquee/1.4.0/jquery.marquee.min.js"></script>
  <script src="/assetsdashboard/cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="/assetsdashboard/js/plugins/Jarallax.js"></script>
  
    <!-- [Page Specific JS] start -->
    <script src="/assetsdashboard/js/plugins/simple-datatables.js"></script>
    <script>
        const dataTable = new simpleDatatables.DataTable('#pc-dt-simple', {
          sortable: false,
          perPage: 5
        });

        const dataBable = new simpleDatatables.DataTable('#pc-dt-deposit', {
          sortable: false,
          perPage: 5
        });
      </script>
  
  <!-- [Page Specific JS] end -->

  <script>
    // scroll-block
    var tc = document.querySelectorAll('.scroll-block');
    for (var t = 0; t < tc.length; t++) {
      new SimpleBar(tc[t]);
    }
    // quantity start
    function increaseValue(temp) {
      var value = parseInt(document.getElementById(temp).value, 10);
      value = isNaN(value) ? 0 : value;
      value++;
      document.getElementById(temp).value = value;
    }

    function decreaseValue(temp) {
      var value = parseInt(document.getElementById(temp).value, 10);
      value = isNaN(value) ? 0 : value;
      value < 1 ? (value = 1) : '';
      value--;
      document.getElementById(temp).value = value;
    }
    // quantity end
  </script>

  <script>
      console.log("on on jest");
    const copyText = (names, details, description, password) => {
      // console.log("againers");
      const textToCopy = `${names}\n${details}\n${description}\n${password}`;


        // console.log(element.innerHTML, "element 1");
        // console.log(element.textContent, "element 1");
        console.log(textToCopy, "text to copy");
        // console.log(textCopy, "text copy");

        var myTemporaryInputElement = document.createElement("input");
        myTemporaryInputElement.type = "text";
        myTemporaryInputElement.value = textToCopy;

        document.body.appendChild(myTemporaryInputElement);

        myTemporaryInputElement.select();
        document.execCommand("Copy");

        document.body.removeChild(myTemporaryInputElement);
        alert("copied");
      }
  </script>

<!-- JS here -->
<script src="/assets/js/jquery-3.6.0.min.js"></script>
<script src="/assets/js/jquery.appear.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/meanmenu.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/slick.min.js"></script>
<script src="/assets/js/swiper-bundle.min.js"></script>
<script src="/assets/js/isotope.pkgd.min.js"></script>
<script src="/assets/js/imagesloaded.pkgd.min.js"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/jquery.countup.min.js"></script>
<script src="/assets/js/jquery.waypoints.min.js"></script>
<script src="/assets/js/nice-select.js"></script>
<script src="/assets/js/wow.min.js"></script>
<script src="/assets/js/ajax-form.js"></script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/main.js"></script>
</body>


<!-- Mirrored from rrdevs.net/demos/html/seoq/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 Jan 2024 01:56:36 GMT -->
</html>