<!doctype html>
<html class="no-js" lang="en">


<!-- Mirrored from rrdevs.net/demos/html/seoq/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 Jan 2024 01:55:27 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Social logs - SEO & Digital Marketing Agency HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/logo/favicon.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/meanmenu.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/nice-select.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="../assets/fonts/inter/inter.css" id="main-font-link" />
    <!-- [Tabler Icons] https://tablericons.com -->
    <link rel="stylesheet" href="/assetsdashboard/fonts/tabler-icons.min.css" >
    <!-- [Feather Icons] https://feathericons.com -->
    <link rel="stylesheet" href="../assets/fonts/feather.css" >
    <!-- [Font Awesome Icons] https://fontawesome.com/icons -->
    <link rel="stylesheet" href="../assets/fonts/fontawesome.css" >
    <!-- [Material Icons] https://fonts.google.com/icons -->
    <link rel="stylesheet" href="../assets/fonts/material.css" >
    <!-- [Template CSS Files] -->
    <link rel="stylesheet" href="/assetsdashboard/css/style.css" id="main-style-link" >
    <link rel="stylesheet" href="/assetsdashboard/css/style-preset.css" >
</head>

<body>

    <style>
        /* Circular profile picture */
        .profile-pic {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: #007bff; /* Blue color, you can change this */
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 24px;
          color: white;
          font-weight: bold;
        }
      </style>

    <!-- preloader start -->
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="loading-icon text-center d-flex flex-column align-items-center justify-content-center">
                    <img src="/assets/img/logo/logo.png" style="width: 50%; height: auto;"  alt="">
                    <img class="loading-logo" src="/assets/img/logo/preloader.svg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- preloader end -->

    <!-- header start  -->
    <header>
        <div class="header-top-border"></div>
        <div id="header-sticky" class="header-1" style="z-index: 9999;">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-xxl-12 col-xl-12 col-lg-12">
                        <div class="header__main-content-wrapper header-padding d-flex align-items-center justify-content-between p-relative">
                            <div class="header__main-left">
                                <div class="header__logo">
                                    <a href="/" class="logo-dark"><img src="/assets/img/logo/logo.png" style="width: 50%; height: auto;" alt="logo-img"></a>
                                </div>
                            </div>
                            <div class="main-menu d-none d-xl-block">
                                <nav id="mobile-menu">
                                    <ul>
                                        <li>
                                            <a href="/">Home</a>
                                        </li>
                                        <li>
                                            <a href="/shop">Shop</a>
                                        </li>
                                        <!-- class="menu-item-has-children" -->
                                        <li >
                                            <a href="/dashboard">Dashboard</a>
                                        </li>
                                        <li>
                                            <a href="/blog">Blog</a>
                                        </li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="header__main-right">
                                <% console.log(user, "outside") %>
                                <% if(!user || user === undefined || Object.keys(user).length === 0) {%>
                                <div class="user-login d-xxl-block d-xxl-block d-lg-block d-md-block d-none">
                                    <i class="fa-regular fa-user"></i>
                                    <a href="/login">Login</a>
                                </div>
                                <a href="/register" class="header-btn-1 rr-btn-style-1 d-xxl-block d-xxl-block d-lg-block d-md-block d-none">Register</a>
                                <% } else { %>
                                    <div class="container">
                                        <div class="row justify-content-center">
                                          <div class="col-md-6 w-100">
                                            <div class="text-center d-flex gap-1">
                                                <% const firstLetter = user?.username.slice(0, 1).toUpperCase();%>
                                              <div class="profile-pic"><%=firstLetter%></div>
                                              <div class="d-flex flex-column align-items-start mt-2">
                                                <!-- <h3 class="mt-3">John Doe</h3> -->
                                                <small>Email: john.doe@example.com</small>
                                                <small class="">
                                                    <!-- <span style="font-weight: bold; font-size: 12px;">N</span> -->
                                                    N <%= user?.balance?.toLocaleString() %>
                                                </small>
                                              </div>
                                              <!-- Add more profile information here -->
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                <% } %>
                                <button class="side-toggle d-lg-block d-xl-none">
                                    <span class="menu__bar">
                                        <span class="bar-icon">
                                            <span></span>
                                    <span></span>
                                    <span></span>
                                    </span>
                                    </span>
                                </button>
                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->

    <!-- side toggle start -->
    <aside class="fix">
        <div class="side-info">
            <div class="side-info-content">
                <div class="offset__widget offset__header">
                    <div class="offset__logo">
                        <a href="/">
                            <img src="/assets/img/logo/logo-white.png" style="width: 70%; height: auto;" alt="logo">
                        </a>
                    </div>
                    <button class="side-info-close">
                        <i class="fal fa-times"></i>
                    </button>
                </div>
                <div class="mobile-menu d-xl-none fix"></div>
                <div class="d-flex gap-4 justify-content-center align-items-center w-100">
                    <div class="d-xxl-none d-xxl-none d-lg-none d-md-none block" style="background-color: transparent; border: 1px solid #FE7919; border-radius: 10px; padding: 10px; color: #FFF;">
                        <i class="fa-regular fa-user"></i>
                        <a href="/login" style="color: #FFF;" >Login</a>
                    </div>
                    <a href="/register" class="header-btn-1 rr-btn-style-1 d-xxl-none d-xxl-none d-lg-none d-md-none block">Register</a>
                </div>
                <div class="offset__widget offset__support">
                    <ul class="mobile-nav__contact list-unstyled">
                        <li>
                            <i class="fa fa-envelope"></i>
                            <a href="mailto:needhelp@Washup.com">needhelp@Washup.com</a>
                        </li>
                        <li>
                            <i class="fa fa-phone-alt"></i>
                            <a href="tel:+6668880000">666 888 0000</a>
                        </li>
                        <li>
                            <i class="fas fa-map-marker-alt"></i> 24/21, 2nd Rangpur, Sapla </li>
                    </ul>
                    <div class="mobile-nav__top">
                        <div class="mobile-nav__social">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                        </div>
                        <!-- /.mobile-nav__social -->
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <div class="offcanvas-overlay"></div>
    <div class="offcanvas-overlay-white"></div>
    <!-- side toggle end -->
    
    <!--Notification-->
    <div
      class="d-flex justify-content-center align-items-center"
      id="messages-notify"
    >
      <%- messages("messages", locals) %>
    </div>