<%- include ("header.ejs"); %>
        <!-- End Header -->
        <main class="main">
            <div class="page-content">
                <section class="intro-section">
                    <div class="intro-slider owl-carousel owl-theme owl-nav-arrow row animation-slider cols-1 gutter-no mb-8"
                        data-owl-options="{
                                'nav': true,
                                'dots': false,
                                'loop': false,
                                'items': 1,
                                'responsive': {
                                    '0': {
                                        'nav': false,
                                        'autoplay': true
                                    },
                                    '768': {
                                        'nav': true
                                    }
                                }
                            }">
                        <div class="banner banner-fixed banner1">
                            <figure>
                                <img src="images/demos/demo1/intro/slider-1.jpg" alt="banner" width="1903" height="600"
                                    style="background-color: #f8f6f6;">
                            </figure>
                            <div class="banner-content y-50 pb-1">
                                <h4 class="banner-subtitle title-underline2 font-weight-normal text-dim slide-animate appear-animate"
                                    data-animation-options="{
                                                'name': 'fadeInUpShorter',
                                                'delay': '.2s'
                                            }">
                                    <span>ONLINE DISBURSEMENT</span></h4>
                                <h3 class="banner-title text-dark lh-1 mb-7 slide-animate appear-animate"
                                    data-animation-options="{
                                                'name': 'fadeInUpShorter',
                                                'delay': '.4s'
                                            }">
                                    SEND  CARDS<br>GLOBALLY</h3>
                                <a class="btn btn-dark slide-animate appear-animate login-toggle"
                                    data-animation-options="{
                                                'name': 'fadeInUpShorter',
                                                'delay': '.6s'
                                            }" data-toggle="login-modal">Get Started
                                    now<i class="p-icon-arrow-long-right"></i></a>
                            </div>
                        </div>
                        <div class="banner banner-fixed banner2">
                            <figure>
                                <img src="images/demos/demo1/intro/sampetwo.png" alt="banner"
                                    style="background-color: #F3F2EE;" width="45%", height="auto">
                            </figure>
                            <div class="banner-content y-50 pb-1">
                                <img src="images/demos/demo1/intro/brand1.png" width="269" height="75" alt="brand"
                                    class="mb-5 slide-animate appear-animate" data-animation-options="{
                                                    'name': 'fadeIn',
                                                    'delay': '.2s'
                                                }" />
                                <h3 class="banner-title text-dark mb-5 mb-sm-9 slide-animate appear-animate"
                                    data-animation-options="{
                                                'name': 'fadeInLeftShorter',
                                                'delay': '.4s'
                                            }">
                                    We are new<br>
                                    We are unique</h3>
                                <a href="shop.html" class="btn btn-dark mr-2 mr-xs-6 slide-animate appear-animate"
                                    data-animation-options="{
                                                'name': 'fadeInLeftShorter',
                                                'delay': '.6s'
                                            }">Start
                                    now<i class="p-icon-arrow-long-right"></i></a>
                                <h5 class="banner-price title-underline2 slide-animate appear-animate"
                                    data-animation-options="{
                                                'name': 'fadeInLeftShorter',
                                                'delay': '.6s'
                                            }">
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="owl-carousel owl-theme owl-box-border row cols-md-3 cols-sm-2 cols-1 appear-animate"
                            data-owl-options="{
                                                'nav': false,
                                                'dots': false,
                                                'loop': false,
                                                'responsive': {
                                                    '0': {
                                                        'items': 1,
                                                        'autoplay': true
                                                    },
                                                    '576': {
                                                        'items': 2,
                                                        'autoplay': true
                                                    },
                                                    '768': {
                                                        'items': 3,
                                                        'dots': false
                                                    }
                                                }
                                            }">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon">
                                    <i class="p-icon-shipping-solid"></i>
                                </span>
                                <div class="icon-box-content">
                                    <h4 class="icon-box-title">Quick and Updated stocks</h4>
                                    <p>No mess up with passwords</p>
                                </div>
                            </div>
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon">
                                    <i class="p-icon-quality"></i>
                                </span>
                                <div class="icon-box-content">
                                    <h4 class="icon-box-title">QUALITY GUARANTEED</h4>
                                    <p>We offer high quality of products</p>
                                </div>
                            </div>
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon">
                                    <i class="p-icon-fax2"></i>
                                </span>
                                <div class="icon-box-content">
                                    <h4 class="icon-box-title">SECURE PAYMENT</h4>
                                    <p>We ensure secure payment!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="container mt-10 pt-7 mb-7 appear-animate">
                    <h2 class="title-underline2 text-center mb-2"><span>What we offer</span></h2>
                    <div class="tab tab-nav-center product-tab product-tab-type2">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="#canned">
                                    <figure>
                                        <img src="images/elements/product_tab/naveditone.png" width="160" height="130"
                                            alt="Nav img" />
                                    </figure>
                                    <div class="nav-title">Steam</div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#fruits2">
                                    <figure>
                                        <img src="images/elements/product_tab/navedittwo.png" width="160" height="130"
                                            alt="Nav img" />
                                    </figure>
                                    <div class="nav-title">Xbox</div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#coffees">
                                    <figure>
                                        <img src="images/elements/product_tab/naveditthree.png" width="160" height="130"
                                            alt="Nav img" />
                                    </figure>
                                    <div class="nav-title">Spotify</div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#meats">
                                    <figure>
                                        <img src="images/elements/product_tab/naveditfour.png" width="160" height="130"
                                            alt="Nav img" />
                                    </figure>
                                    <div class="nav-title">Amazon</div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#vegetables">
                                    <figure>
                                        <img src="images/elements/product_tab/naveditfive.png" width="160" height="130"
                                            alt="Nav img" />
                                    </figure>
                                    <div class="nav-title">Others</div>
                                </a>
                            </li>
                        </ul>
                    <!-- 
                        <div class="tab-content">
                            <div class="tab-pane active" id="canned">
                                <div class="owl-carousel owl-theme row cols-lg-4 cols-md-3 cols-2" data-owl-options="{
                                            'items': 4,
                                            'nav': false,
                                            'dots': true,
                                            'margin': 20,
                                            'loop': false,
                                            'responsive': {
                                                '0': {
                                                    'items': 2
                                                },
                                                '768': {
                                                    'items': 3
                                                },
                                                '992': {
                                                    'items': 4
                                                }
                                            }
                                        }">
                                    <div class="product shadow-media text-center">
                                        <figure class="product-media">
                                            <a href="product-simple.html">
                                                <img src="images/products/5-295x369.jpg" alt="product" width="295"
                                                    height="369" />
                                                <img src="images/products/5-2-295x369.jpg" alt="product" width="295"
                                                    height="369" />
                                            </a>
                                            <div class="product-label-group">
                                                <label class="product-label label-sale">-40%</label>
                                            </div>
                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                                                    data-target="#addCartModal" title="Add to Cart">
                                                    <i class="p-icon-cart-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-wishlist"
                                                    title="Add to Wishlist">
                                                    <i class="p-icon-heart-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-compare" title="Compare">
                                                    <i class="p-icon-compare-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-quickview" title="Quick View">
                                                    <i class="p-icon-search-solid"></i>
                                                </a>
                                            </div>
                                        </figure>
                                        <div class="product-details">
                                            <div class="ratings-container">
                                                <div class="ratings-full">
                                                    <span class="ratings" style="width:60%"></span>
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <a href="product-simple.html#content-reviews"
                                                    class="rating-reviews">(12)</a>
                                            </div>
                                            <h5 class="product-name">
                                                <a href="product-simple.html">
                                                    Peanuts
                                                </a>
                                            </h5>
                                            <span class="product-price">
                                                <del class="old-price">$28.00</del>
                                                <ins class="new-price">$12.00</ins>
                                            </span>
                                        </div>
                                    </div>
           

                                    <div class="product shadow-media text-center">
                                        <figure class="product-media">
                                            <a href="product-simple.html">
                                                <img src="images/products/6-295x369.jpg" alt="product" width="295"
                                                    height="369" />
                                            </a>
                                            <div class="product-label-group">
                                                <label class="product-label label-new">New</label>
                                                <label class="product-label label-sale">-38%</label>
                                            </div>
                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                                                    data-target="#addCartModal" title="Add to Cart">
                                                    <i class="p-icon-cart-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-wishlist"
                                                    title="Add to Wishlist">
                                                    <i class="p-icon-heart-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-compare" title="Compare">
                                                    <i class="p-icon-compare-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-quickview" title="Quick View">
                                                    <i class="p-icon-search-solid"></i>
                                                </a>
                                            </div>
                                        </figure>
                                        <div class="product-details">
                                            <div class="ratings-container">
                                                <div class="ratings-full">
                                                    <span class="ratings" style="width:80%"></span>
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <a href="product-simple.html#content-reviews"
                                                    class="rating-reviews">(12)</a>
                                            </div>
                                            <h5 class="product-name">
                                                <a href="product-simple.html">
                                                    Greenhouse Peas
                                                </a>
                                            </h5>
                                            <span class="product-price">
                                                <del class="old-price">$90.00</del>
                                                <ins class="new-price">$36.00</ins>
                                            </span>
                                        </div>
                                    </div>
      

                                    <div class="product shadow-media text-center">
                                        <figure class="product-media">
                                            <a href="product-simple.html">
                                                <img src="images/products/7-295x369.jpg" alt="product" width="295"
                                                    height="369" />
                                                <img src="images/products/7-2-295x369.jpg" alt="product" width="295"
                                                    height="369" />
                                            </a>
                                            <div class="product-label-group">
                                                <label class="product-label label-sale">-24%</label>
                                            </div>
                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                                                    data-target="#addCartModal" title="Add to Cart">
                                                    <i class="p-icon-cart-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-wishlist"
                                                    title="Add to Wishlist">
                                                    <i class="p-icon-heart-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-compare" title="Compare">
                                                    <i class="p-icon-compare-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-quickview" title="Quick View">
                                                    <i class="p-icon-search-solid"></i>
                                                </a>
                                            </div>
                                        </figure>
                                        <div class="product-details">
                                            <div class="ratings-container">
                                                <div class="ratings-full">
                                                    <span class="ratings" style="width:100%"></span>
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <a href="product-simple.html#content-reviews"
                                                    class="rating-reviews">(12)</a>
                                            </div>
                                            <h5 class="product-name">
                                                <a href="product-simple.html">
                                                    Salted Caramel
                                                </a>
                                            </h5>
                                            <span class="product-price">
                                                <del class="old-price">$22.00</del>
                                                <ins class="new-price">$16.00</ins>
                                            </span>
                                        </div>
                                    </div>
                              

                                    <div class="product shadow-media text-center">
                                        <figure class="product-media">
                                            <a href="product-simple.html">
                                                <img src="images/products/8-295x369.jpg" alt="product" width="295"
                                                    height="369" />
                                            </a>
                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                                                    data-target="#addCartModal" title="Add to Cart">
                                                    <i class="p-icon-cart-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-wishlist"
                                                    title="Add to Wishlist">
                                                    <i class="p-icon-heart-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-compare" title="Compare">
                                                    <i class="p-icon-compare-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-quickview" title="Quick View">
                                                    <i class="p-icon-search-solid"></i>
                                                </a>
                                            </div>
                                        </figure>
                                        <div class="product-details">
                                            <div class="ratings-container">
                                                <div class="ratings-full">
                                                    <span class="ratings" style="width:60%"></span>
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <a href="product-simple.html#content-reviews"
                                                    class="rating-reviews">(12)</a>
                                            </div>
                                            <h5 class="product-name">
                                                <a href="product-simple.html">
                                                    Broccoli
                                                </a>
                                            </h5>
                                            <span class="product-price">
                                                <span class="price">$42.00</span>
                                            </span>
                                        </div>
                                    </div>
                              

                                </div>
                            </div>
                            <div class="tab-pane" id="fruits2">
                                <div class="owl-carousel owl-theme row cols-lg-4 cols-md-3 cols-2" data-owl-options="{
                                            'items': 4,
                                            'nav': false,
                                            'dots': true,
                                            'margin': 20,
                                            'loop': false,
                                            'responsive': {
                                                '0': {
                                                    'items': 2
                                                },
                                                '768': {
                                                    'items': 3
                                                },
                                                '992': {
                                                    'items': 4
                                                }
                                            }
                                        }">
                                    <div class="product shadow-media text-center">
                                        <figure class="product-media">
                                            <a href="product-simple.html">
                                                <img src="images/products/1-295x369.jpg" alt="product" width="295"
                                                    height="369" />
                                            </a>
                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                                                    data-target="#addCartModal" title="Add to Cart">
                                                    <i class="p-icon-cart-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-wishlist"
                                                    title="Add to Wishlist">
                                                    <i class="p-icon-heart-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-compare" title="Compare">
                                                    <i class="p-icon-compare-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-quickview" title="Quick View">
                                                    <i class="p-icon-search-solid"></i>
                                                </a>
                                            </div>
                                        </figure>
                                        <div class="product-details">
                                            <div class="ratings-container">
                                                <div class="ratings-full">
                                                    <span class="ratings" style="width:60%"></span>
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <a href="product-simple.html#content-reviews"
                                                    class="rating-reviews">(12)</a>
                                            </div>
                                            <h5 class="product-name">
                                                <a href="product-simple.html">
                                                    Fresh Peach
                                                </a>
                                            </h5>
                                            <span class="product-price">
                                                <span class="price">$42.00</span>
                                            </span>
                                        </div>
                                    </div>
                                    

                                    <div class="product shadow-media text-center">
                                        <figure class="product-media">
                                            <a href="product-simple.html">
                                                <img src="images/products/19-295x369.jpg" alt="product" width="295"
                                                    height="369" />
                                                <img src="images/products/19-2-295x369.jpg" alt="product" width="295"
                                                    height="369" />
                                            </a>
                                            <div class="product-label-group">
                                                <label class="product-label label-sale">-40%</label>
                                            </div>
                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                                                    data-target="#addCartModal" title="Add to Cart">
                                                    <i class="p-icon-cart-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-wishlist"
                                                    title="Add to Wishlist">
                                                    <i class="p-icon-heart-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-compare" title="Compare">
                                                    <i class="p-icon-compare-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-quickview" title="Quick View">
                                                    <i class="p-icon-search-solid"></i>
                                                </a>
                                            </div>
                                        </figure>
                                        <div class="product-details">
                                            <div class="ratings-container">
                                                <div class="ratings-full">
                                                    <span class="ratings" style="width:60%"></span>
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <a href="product-simple.html#content-reviews"
                                                    class="rating-reviews">(12)</a>
                                            </div>
                                            <h5 class="product-name">
                                                <a href="product-simple.html">
                                                    Fresh Mulberry
                                                </a>
                                            </h5>
                                            <span class="product-price">
                                                <del class="old-price">$28.00</del>
                                                <ins class="new-price">$12.00</ins>
                                            </span>
                                        </div>
                                    </div>
                                

                                    <div class="product shadow-media text-center">
                                        <figure class="product-media">
                                            <a href="product-simple.html">
                                                <img src="images/products/4-295x369.jpg" alt="product" width="295"
                                                    height="369" />
                                            </a>
                                            <div class="product-label-group">
                                                <label class="product-label label-new">New</label>
                                                <label class="product-label label-sale">-38%</label>
                                            </div>
                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                                                    data-target="#addCartModal" title="Add to Cart">
                                                    <i class="p-icon-cart-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-wishlist"
                                                    title="Add to Wishlist">
                                                    <i class="p-icon-heart-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-compare" title="Compare">
                                                    <i class="p-icon-compare-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-quickview" title="Quick View">
                                                    <i class="p-icon-search-solid"></i>
                                                </a>
                                            </div>
                                        </figure>
                                        <div class="product-details">
                                            <div class="ratings-container">
                                                <div class="ratings-full">
                                                    <span class="ratings" style="width:60%"></span>
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <a href="product-simple.html#content-reviews"
                                                    class="rating-reviews">(12)</a>
                                            </div>
                                            <h5 class="product-name">
                                                <a href="product-simple.html">
                                                    Fresh Cherry
                                                </a>
                                            </h5>
                                            <span class="product-price">
                                                <del class="old-price">$90.00</del>
                                                <ins class="new-price">$36.00</ins>
                                            </span>
                                        </div>
                                    </div>
        

                                    <div class="product shadow-media text-center">
                                        <figure class="product-media">
                                            <a href="product-simple.html">
                                                <img src="images/products/3-295x369.jpg" alt="product" width="295"
                                                    height="369" />
                                            </a>
                                            <div class="product-label-group">
                                                <label class="product-label label-sale">-24%</label>
                                            </div>
                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                                                    data-target="#addCartModal" title="Add to Cart">
                                                    <i class="p-icon-cart-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-wishlist"
                                                    title="Add to Wishlist">
                                                    <i class="p-icon-heart-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-compare" title="Compare">
                                                    <i class="p-icon-compare-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-quickview" title="Quick View">
                                                    <i class="p-icon-search-solid"></i>
                                                </a>
                                            </div>
                                        </figure>
                                        <div class="product-details">
                                            <div class="ratings-container">
                                                <div class="ratings-full">
                                                    <span class="ratings" style="width:60%"></span>
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <a href="product-simple.html#content-reviews"
                                                    class="rating-reviews">(12)</a>
                                            </div>
                                            <h5 class="product-name">
                                                <a href="product-simple.html">
                                                    Organic Palmetto
                                                </a>
                                            </h5>
                                            <span class="product-price">
                                                <del class="old-price">$22.00</del>
                                                <ins class="new-price">$16.00</ins>
                                            </span>
                                        </div>
                                    </div>
                           


                                </div>
                            </div>

                            <div class="tab-pane" id="coffees">
                                <div class="owl-carousel owl-theme row cols-lg-4 cols-md-3 cols-2" data-owl-options="{
                                            'items': 4,
                                            'nav': false,
                                            'dots': true,
                                            'margin': 20,
                                            'loop': false,
                                            'responsive': {
                                                '0': {
                                                    'items': 2
                                                },
                                                '768': {
                                                    'items': 3
                                                },
                                                '992': {
                                                    'items': 4
                                                }
                                            }
                                        }">
                                    <div class="product shadow-media text-center">
                                        <figure class="product-media">
                                            <a href="product-simple.html">
                                                <img src="images/products/7-295x369.jpg" alt="product" width="295"
                                                    height="369" />
                                                <img src="images/products/7-2-295x369.jpg" alt="product" width="295"
                                                    height="369" />
                                            </a>
                                            <div class="product-label-group">
                                                <label class="product-label label-sale">-24%</label>
                                            </div>
                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                                                    data-target="#addCartModal" title="Add to Cart">
                                                    <i class="p-icon-cart-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-wishlist"
                                                    title="Add to Wishlist">
                                                    <i class="p-icon-heart-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-compare" title="Compare">
                                                    <i class="p-icon-compare-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-quickview" title="Quick View">
                                                    <i class="p-icon-search-solid"></i>
                                                </a>
                                            </div>
                                        </figure>
                                        <div class="product-details">
                                            <div class="ratings-container">
                                                <div class="ratings-full">
                                                    <span class="ratings" style="width:100%"></span>
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <a href="product-simple.html#content-reviews"
                                                    class="rating-reviews">(12)</a>
                                            </div>
                                            <h5 class="product-name">
                                                <a href="product-simple.html">
                                                    Salted Caramel
                                                </a>
                                            </h5>
                                            <span class="product-price">
                                                <del class="old-price">$22.00</del>
                                                <ins class="new-price">$16.00</ins>
                                            </span>
                                        </div>
                                    </div>
                                   

                                    <div class="product shadow-media text-center">
                                        <figure class="product-media">
                                            <a href="product-simple.html">
                                                <img src="images/products/8-295x369.jpg" alt="product" width="295"
                                                    height="369" />
                                            </a>
                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                                                    data-target="#addCartModal" title="Add to Cart">
                                                    <i class="p-icon-cart-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-wishlist"
                                                    title="Add to Wishlist">
                                                    <i class="p-icon-heart-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-compare" title="Compare">
                                                    <i class="p-icon-compare-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-quickview" title="Quick View">
                                                    <i class="p-icon-search-solid"></i>
                                                </a>
                                            </div>
                                        </figure>
                                        <div class="product-details">
                                            <div class="ratings-container">
                                                <div class="ratings-full">
                                                    <span class="ratings" style="width:60%"></span>
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <a href="product-simple.html#content-reviews"
                                                    class="rating-reviews">(12)</a>
                                            </div>
                                            <h5 class="product-name">
                                                <a href="product-simple.html">
                                                    Broccoli
                                                </a>
                                            </h5>
                                            <span class="product-price">
                                                <span class="price">$42.00</span>
                                            </span>
                                        </div>
                                    </div>
                                  

                                    <div class="product shadow-media text-center">
                                        <figure class="product-media">
                                            <a href="product-simple.html">
                                                <img src="images/products/5-295x369.jpg" alt="product" width="295"
                                                    height="369" />
                                                <img src="images/products/5-2-295x369.jpg" alt="product" width="295"
                                                    height="369" />
                                            </a>
                                            <div class="product-label-group">
                                                <label class="product-label label-sale">-40%</label>
                                            </div>
                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                                                    data-target="#addCartModal" title="Add to Cart">
                                                    <i class="p-icon-cart-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-wishlist"
                                                    title="Add to Wishlist">
                                                    <i class="p-icon-heart-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-compare" title="Compare">
                                                    <i class="p-icon-compare-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-quickview" title="Quick View">
                                                    <i class="p-icon-search-solid"></i>
                                                </a>
                                            </div>
                                        </figure>
                                        <div class="product-details">
                                            <div class="ratings-container">
                                                <div class="ratings-full">
                                                    <span class="ratings" style="width:0%"></span>
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <a href="product-simple.html#content-reviews"
                                                    class="rating-reviews">(12)</a>
                                            </div>
                                            <h5 class="product-name">
                                                <a href="product-simple.html">
                                                    Peanuts
                                                </a>
                                            </h5>
                                            <span class="product-price">
                                                <del class="old-price">$28.00</del>
                                                <ins class="new-price">$12.00</ins>
                                            </span>
                                        </div>
                                    </div>
                                

                                    <div class="product shadow-media text-center">
                                        <figure class="product-media">
                                            <a href="product-simple.html">
                                                <img src="images/products/6-295x369.jpg" alt="product" width="295"
                                                    height="369" />
                                            </a>
                                            <div class="product-label-group">
                                                <label class="product-label label-new">New</label>
                                                <label class="product-label label-sale">-38%</label>
                                            </div>
                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                                                    data-target="#addCartModal" title="Add to Cart">
                                                    <i class="p-icon-cart-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-wishlist"
                                                    title="Add to Wishlist">
                                                    <i class="p-icon-heart-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-compare" title="Compare">
                                                    <i class="p-icon-compare-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-quickview" title="Quick View">
                                                    <i class="p-icon-search-solid"></i>
                                                </a>
                                            </div>
                                        </figure>
                                        <div class="product-details">
                                            <div class="ratings-container">
                                                <div class="ratings-full">
                                                    <span class="ratings" style="width:60%"></span>
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <a href="product-simple.html#content-reviews"
                                                    class="rating-reviews">(12)</a>
                                            </div>
                                            <h5 class="product-name">
                                                <a href="product-simple.html">
                                                    Peas
                                                </a>
                                            </h5>
                                            <span class="product-price">
                                                <del class="old-price">$90.00</del>
                                                <ins class="new-price">$36.00</ins>
                                            </span>
                                        </div>
                                    </div>
                                   

                                </div>
                            </div>
                            <div class="tab-pane" id="meats">
                                <div class="owl-carousel owl-theme row cols-lg-4 cols-md-3 cols-2" data-owl-options="{
                                            'items': 4,
                                            'nav': false,
                                            'dots': true,
                                            'margin': 20,
                                            'loop': false,
                                            'responsive': {
                                                '0': {
                                                    'items': 2
                                                },
                                                '768': {
                                                    'items': 3
                                                },
                                                '992': {
                                                    'items': 4
                                                }
                                            }
                                        }">
                                    <div class="product shadow-media text-center">
                                        <figure class="product-media">
                                            <a href="product-simple.html">
                                                <img src="images/products/11-295x369.jpg" alt="product" width="295"
                                                    height="369" />
                                            </a>
                                            <div class="product-label-group">
                                                <label class="product-label label-new">New</label>
                                                <label class="product-label label-sale">-38%</label>
                                            </div>
                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                                                    data-target="#addCartModal" title="Add to Cart">
                                                    <i class="p-icon-cart-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-wishlist"
                                                    title="Add to Wishlist">
                                                    <i class="p-icon-heart-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-compare" title="Compare">
                                                    <i class="p-icon-compare-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-quickview" title="Quick View">
                                                    <i class="p-icon-search-solid"></i>
                                                </a>
                                            </div>
                                        </figure>
                                        <div class="product-details">
                                            <div class="ratings-container">
                                                <div class="ratings-full">
                                                    <span class="ratings" style="width:0%"></span>
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <a href="product-simple.html#content-reviews"
                                                    class="rating-reviews">(12)</a>
                                            </div>
                                            <h5 class="product-name">
                                                <a href="product-simple.html">
                                                    Fresh Pork
                                                </a>
                                            </h5>
                                            <span class="product-price">
                                                <del class="old-price">$90.00</del>
                                                <ins class="new-price">$36.00</ins>
                                            </span>
                                        </div>
                                    </div>
                                 


                                    <div class="product shadow-media text-center">
                                        <figure class="product-media">
                                            <a href="product-simple.html">
                                                <img src="images/products/20-295x369.jpg" alt="product" width="295"
                                                    height="369" />
                                            </a>
                                            <div class="product-label-group">
                                                <label class="product-label label-sale">-40%</label>
                                            </div>
                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                                                    data-target="#addCartModal" title="Add to Cart">
                                                    <i class="p-icon-cart-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-wishlist"
                                                    title="Add to Wishlist">
                                                    <i class="p-icon-heart-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-compare" title="Compare">
                                                    <i class="p-icon-compare-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-quickview" title="Quick View">
                                                    <i class="p-icon-search-solid"></i>
                                                </a>
                                            </div>
                                        </figure>
                                        <div class="product-details">
                                            <div class="ratings-container">
                                                <div class="ratings-full">
                                                    <span class="ratings" style="width:60%"></span>
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <a href="product-simple.html#content-reviews"
                                                    class="rating-reviews">(12)</a>
                                            </div>
                                            <h5 class="product-name">
                                                <a href="product-simple.html">
                                                    Prime Beef
                                                </a>
                                            </h5>
                                            <span class="product-price">
                                                <del class="old-price">$28.00</del>
                                                <ins class="new-price">$12.00</ins>
                                            </span>
                                        </div>
                                    </div>


                                    <div class="product shadow-media text-center">
                                        <figure class="product-media">
                                            <a href="product-simple.html">
                                                <img src="images/products/13-295x369.jpg" alt="product" width="295"
                                                    height="369" />
                                                <img src="images/products/13-2-295x369.jpg" alt="product" width="295"
                                                    height="369" />
                                            </a>
                                            <div class="product-label-group">
                                                <label class="product-label label-sale">-24%</label>
                                            </div>
                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                                                    data-target="#addCartModal" title="Add to Cart">
                                                    <i class="p-icon-cart-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-wishlist"
                                                    title="Add to Wishlist">
                                                    <i class="p-icon-heart-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-compare" title="Compare">
                                                    <i class="p-icon-compare-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-quickview" title="Quick View">
                                                    <i class="p-icon-search-solid"></i>
                                                </a>
                                            </div>
                                        </figure>
                                        <div class="product-details">
                                            <div class="ratings-container">
                                                <div class="ratings-full">
                                                    <span class="ratings" style="width:60%"></span>
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <a href="product-simple.html#content-reviews"
                                                    class="rating-reviews">(12)</a>
                                            </div>
                                            <h5 class="product-name">
                                                <a href="product-simple.html">
                                                    Salted Beef
                                                </a>
                                            </h5>
                                            <span class="product-price">
                                                <del class="old-price">$22.00</del>
                                                <ins class="new-price">$16.00</ins>
                                            </span>
                                        </div>
                                    </div>




                                </div>
                            </div>
                            <div class="tab-pane" id="vegetables">
                                <div class="owl-carousel owl-theme row cols-lg-4 cols-md-3 cols-2" data-owl-options="{
                                            'items': 4,
                                            'nav': false,
                                            'dots': true,
                                            'margin': 20,
                                            'loop': false,
                                            'responsive': {
                                                '0': {
                                                    'items': 2
                                                },
                                                '768': {
                                                    'items': 3
                                                },
                                                '992': {
                                                    'items': 4
                                                }
                                            }
                                        }">
                                    <div class="product shadow-media text-center">
                                        <figure class="product-media">
                                            <a href="product-simple.html">
                                                <img src="images/products/5-295x369.jpg" alt="product" width="295"
                                                    height="369" />
                                                <img src="images/products/5-2-295x369.jpg" alt="product" width="295"
                                                    height="369" />
                                            </a>
                                            <div class="product-label-group">
                                                <label class="product-label label-sale">-40%</label>
                                            </div>
                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                                                    data-target="#addCartModal" title="Add to Cart">
                                                    <i class="p-icon-cart-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-wishlist"
                                                    title="Add to Wishlist">
                                                    <i class="p-icon-heart-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-compare" title="Compare">
                                                    <i class="p-icon-compare-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-quickview" title="Quick View">
                                                    <i class="p-icon-search-solid"></i>
                                                </a>
                                            </div>
                                        </figure>
                                        <div class="product-details">
                                            <div class="ratings-container">
                                                <div class="ratings-full">
                                                    <span class="ratings" style="width:20%"></span>
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <a href="product-simple.html#content-reviews"
                                                    class="rating-reviews">(12)</a>
                                            </div>
                                            <h5 class="product-name">
                                                <a href="product-simple.html">
                                                    Peanuts
                                                </a>
                                            </h5>
                                            <span class="product-price">
                                                <del class="old-price">$28.00</del>
                                                <ins class="new-price">$12.00</ins>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="product shadow-media text-center">
                                        <figure class="product-media">
                                            <a href="product-simple.html">
                                                <img src="images/products/6-295x369.jpg" alt="product" width="295"
                                                    height="369" />
                                            </a>
                                            <div class="product-label-group">
                                                <label class="product-label label-new">New</label>
                                                <label class="product-label label-sale">-38%</label>
                                            </div>
                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                                                    data-target="#addCartModal" title="Add to Cart">
                                                    <i class="p-icon-cart-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-wishlist"
                                                    title="Add to Wishlist">
                                                    <i class="p-icon-heart-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-compare" title="Compare">
                                                    <i class="p-icon-compare-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-quickview" title="Quick View">
                                                    <i class="p-icon-search-solid"></i>
                                                </a>
                                            </div>
                                        </figure>
                                        <div class="product-details">
                                            <div class="ratings-container">
                                                <div class="ratings-full">
                                                    <span class="ratings" style="width:60%"></span>
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <a href="product-simple.html#content-reviews"
                                                    class="rating-reviews">(12)</a>
                                            </div>
                                            <h5 class="product-name">
                                                <a href="product-simple.html">
                                                    Peas
                                                </a>
                                            </h5>
                                            <span class="product-price">
                                                <del class="old-price">$90.00</del>
                                                <ins class="new-price">$36.00</ins>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="product shadow-media text-center">
                                        <figure class="product-media">
                                            <a href="product-simple.html">
                                                <img src="images/products/7-295x369.jpg" alt="product" width="295"
                                                    height="369" />
                                                <img src="images/products/7-2-295x369.jpg" alt="product" width="295"
                                                    height="369" />
                                            </a>
                                            <div class="product-label-group">
                                                <label class="product-label label-sale">-24%</label>
                                            </div>
                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                                                    data-target="#addCartModal" title="Add to Cart">
                                                    <i class="p-icon-cart-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-wishlist"
                                                    title="Add to Wishlist">
                                                    <i class="p-icon-heart-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-compare" title="Compare">
                                                    <i class="p-icon-compare-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-quickview" title="Quick View">
                                                    <i class="p-icon-search-solid"></i>
                                                </a>
                                            </div>
                                        </figure>
                                        <div class="product-details">
                                            <div class="ratings-container">
                                                <div class="ratings-full">
                                                    <span class="ratings" style="width:100%"></span>
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <a href="product-simple.html#content-reviews"
                                                    class="rating-reviews">(12)</a>
                                            </div>
                                            <h5 class="product-name">
                                                <a href="product-simple.html">
                                                    Salted Caramel
                                                </a>
                                            </h5>
                                            <span class="product-price">
                                                <del class="old-price">$22.00</del>
                                                <ins class="new-price">$16.00</ins>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="product shadow-media text-center">
                                        <figure class="product-media">
                                            <a href="product-simple.html">
                                                <img src="images/products/8-295x369.jpg" alt="product" width="295"
                                                    height="369" />
                                            </a>
                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                                                    data-target="#addCartModal" title="Add to Cart">
                                                    <i class="p-icon-cart-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-wishlist"
                                                    title="Add to Wishlist">
                                                    <i class="p-icon-heart-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-compare" title="Compare">
                                                    <i class="p-icon-compare-solid"></i>
                                                </a>
                                                <a href="#" class="btn-product-icon btn-quickview" title="Quick View">
                                                    <i class="p-icon-search-solid"></i>
                                                </a>
                                            </div>
                                        </figure>
                                        <div class="product-details">
                                            <div class="ratings-container">
                                                <div class="ratings-full">
                                                    <span class="ratings" style="width:60%"></span>
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <a href="product-simple.html#content-reviews"
                                                    class="rating-reviews">(12)</a>
                                            </div>
                                            <h5 class="product-name">
                                                <a href="product-simple.html">
                                                    Broccoli
                                                </a>
                                            </h5>
                                            <span class="product-price">
                                                <span class="price">$42.00</span>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    -->
                    </div>
                </section>

                <section class="recent-section container mt-10 pt-7 mb-10 pb-6">
                    <h4 class="subtitle title-underline2 text-uppercase text-center"><span>Procedure</span>
                    </h4>
                    <h2 class="title justify-content-center text-center">Guide</h2>
                    <div class="owl-carousel owl-theme row cols-lg-3 cols-sm-2 cols-1 mb-10 pb-8" data-owl-options="{
                                        'items': 3,
                                        'nav': false,
                                        'dots': true,
                                        'margin': 20,
                                        'loop': false,
                                        'responsive': {
                                            '0': {
                                                'items': 1
                                            },
                                            '568': {
                                                'items': 2
                                            },
                                            '992': {
                                                'items': 3
                                            }
                                        }
                                }">
                        <div class="post post-border post-center overlay-zoom overlay-dark">
                            <figure class="post-media">
                                <a>
                                    <img src="images/blog/find.jpg" width="400" height="250" alt="post">
                                </a>
                            </figure>
                            <a class="post-details" href="/shop">
                                <p class="post-cats">Find Card Type</p>
                            </a>
                        </div>
                        <div class="post post-border post-center overlay-zoom overlay-dark" data-toggle="login-modal">
                            <figure class="post-media">
                                <a>
                                    <img src="images/blog/login.jpg" width="400" height="250" alt="post">
                                </a>
                            </figure>
                            <div class="post-details login-toggle" data-toggle="login-modal">
                                <p class="post-cats">Log in or Create an Account</a>
                                </p>
                                
                            </div>
                        </div>
                        <div class="post post-border post-center overlay-zoom overlay-dark">
                            <figure class="post-media">
                                <a >
                                    <img src="images/blog/buy.jpg" width="400" height="250" alt="post">
                                </a>
                            </figure>
                            <a class="post-details" href="/shop">
                                <p class="post-cats">Purchase Using Various Methods</p>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
        </main>
        <!-- End Main -->
<%- include ("footer.ejs"); %>