<%- include ("header.ejs"); %>
      <!-- hero one start -->
    <div class="hero-one" data-background="assets/img/hero/hero-bg-1.png">
        <div class="hero-one__wrapper">
            <div class="hero-one__animation-1">
                <img src="assets/img/hero/rocket.png" alt="rocket img">
            </div>
            <div class="hero-one__animation-2">
                <img src="assets/img/hero/ranking.png" alt="rocket img">
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xxl-12 col-xl-7 col-lg-12 col-md-12 col-sm-12">
                        <div class="hero-one__content wow fadeInLeft" data-wow-delay=".3s">
                            <h2>Discover <span class="hero-highlighter-1"> 
                                Your Business
                                <svg xmlns="http://www.w3.org/2000/svg" width="323" height="19" viewBox="0 0 323 19" fill="none">
                                    <path d="M0.235266 0.259698C0.36753 0.122473 0.543476 0.0336098 0.734079 0.00779267C0.924682 -0.0180245 1.11855 0.0207378 1.28371 0.117677C31.0522 17.2159 91.3701 14.4253 125.484 12.0537C170.314 8.93659 289.851 -11.7474 322.808 17.9259C322.896 18.0079 322.958 18.1137 322.985 18.23C323.012 18.3462 323.003 18.4677 322.96 18.5792C322.923 18.6736 322.865 18.7584 322.789 18.8269C322.713 18.8954 322.623 18.9458 322.524 18.974C322.425 19.0022 322.321 19.0076 322.22 18.9896C322.118 18.9716 322.023 18.9307 321.94 18.8703C297.472 1.49519 214.631 11.7697 182.122 12.3662C136.157 15.6821 89.4684 21.0289 43.5322 14.5815C28.9192 12.2739 12.9178 9.68215 0.372647 1.51649C0.27059 1.4495 0.184751 1.36133 0.12119 1.25819C0.0576282 1.15506 0.0178932 1.0395 0.00479111 0.919634C-0.00831098 0.799773 0.00553889 0.678549 0.0453624 0.564519C0.085186 0.450489 0.150013 0.346434 0.235266 0.259698Z" fill="url(#paint0_linear_1_4956)"/>
                                    <defs>
                                    <linearGradient id="paint0_linear_1_4956" x1="0" y1="9.5" x2="323" y2="9.5" gradientUnits="userSpaceOnUse">
                                    <stop offset="0" stop-color="#FF3007"/>
                                    <stop offset="1" stop-color="#FF9700"/>
                                    </linearGradient>
                                    </defs>
                                    </svg>
                                </span>
                                <br> SEO Solution.</h2>
                            <p>Maecenas egret risks qualm Cohabiter diapaus magna egret vehicular <br> pellentesque lobortis iaculis felis viverra sit amet.</p>
                            <form action="#">
                                <div class="hero__input">
                                    <i class="fa-regular fa-magnifying-glass"></i>
                                    <input type="text" placeholder="Analyze any website or app">
                                    <button type="submit" class="hero-btn-1 rr-btn-style-1">Search</button>
                                </div>
                            </form>
                            <div class="hero-popular-search">
                                <span>Popular:</span>
                                <ul>
                                    <li>
                                        <a href="#">
                                            <img src="assets/img/icon/google.svg" alt="google icon"> Google.com
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="assets/img/icon/facebook-two.svg" alt="facebook icon">Facebook.com</a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="assets/img/icon/twitter.svg" alt="facebook icon">Twitter.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- hero one end -->

    <!-- about one start -->
    <div class="about-three">
        <div class="container custom-container-1">
            <div class="row g-0">
                <div class="about-three__wrapper">
                    <div class="col-xxl-12">
                        <div class="tabs-one">
                            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="pills-search-tab" data-bs-toggle="pill" data-bs-target="#pills-search" type="button" role="tab" aria-controls="pills-search" aria-selected="true">
                                        <img src="assets/img/icon/globe.svg" class="no-active" alt="">
                                        <img src="assets/img/icon/globe-white.svg" class="active-tab-icon" alt="">
                                        <span>Search Engine</span>
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-analytics-tab" data-bs-toggle="pill" data-bs-target="#pills-analytics" type="button" role="tab" aria-controls="pills-analytics" aria-selected="false">
                                        <img src="assets/img/icon/list.svg" class="no-active" alt="">
                                        <img src="assets/img/icon/list-white.svg" class="active-tab-icon" alt="">
                                        <span>Analytics</span>
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-social-tab" data-bs-toggle="pill" data-bs-target="#pills-social" type="button" role="tab" aria-controls="pills-social" aria-selected="false">
                                        <img src="assets/img/icon/like-tag.svg" class="no-active" alt="">
                                        <img src="assets/img/icon/like-tag-white.svg" class="active-tab-icon" alt="">
                                        <span>Social Media</span>
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-marketing-tab" data-bs-toggle="pill" data-bs-target="#pills-marketing" type="button" role="tab" aria-controls="pills-marketing" aria-selected="false">
                                        <img src="assets/img/icon/pen.svg" class="no-active" alt="">
                                        <img src="assets/img/icon/pen-white.svg" class="active-tab-icon" alt="">
                                        <span>Content Marketing</span>
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-management-tab" data-bs-toggle="pill" data-bs-target="#pills-management" type="button" role="tab" aria-controls="pills-management" aria-selected="false">
                                        <img src="assets/img/icon/trend-up.svg" class="no-active" alt="">
                                        <img src="assets/img/icon/trend-up-white.svg" class="active-tab-icon" alt="">
                                        <span>Management</span>
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-optimization-tab" data-bs-toggle="pill" data-bs-target="#pills-optimization" type="button" role="tab" aria-controls="pills-optimization" aria-selected="false">
                                        <img src="assets/img/icon/keyboard-open.svg" class="no-active" alt="">
                                        <img src="assets/img/icon/keyboard-open-white.svg" class="active-tab-icon" alt="">
                                        <span>Optimization</span>
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-digital-tab" data-bs-toggle="pill" data-bs-target="#pills-digital" type="button" role="tab" aria-controls="pills-digital" aria-selected="false">
                                        <img src="assets/img/icon/status-up.svg" class="no-active" alt="">
                                        <img src="assets/img/icon/status-up-white.svg" class="active-tab-icon" alt="">
                                        <span>Digital Marketing</span>
                                    </button>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-search" role="tabpanel" aria-labelledby="pills-search-tab" tabindex="0">
                                    <div class="about-three__single">
                                        <div class="about-three__animation-1">
                                            <img src="assets/img/shape/12.svg" alt="shape icon">
                                        </div>
                                        <div class="about-three__animation-2">
                                            <img src="assets/img/shape/14.svg" alt="shape icon">
                                        </div>
                                        <div class="about-three__animation-3">
                                            <img src="assets/img/shape/11.svg" alt="shape icon">
                                        </div>
                                        <div class="row">
                                            <div class="col-xxl-6 col-xl-7 col-lg-6 col-md-12 col-sm-12">
                                                <div class="about-three__single-content">
                                                    <h2>Tailored SEO Solutions Boost Your Business.</h2>
                                                    <div class="list">
                                                        <ul class="list-unstyled">
                                                            <li>Nulla vel dolor accumsan neque vestibulum</li>
                                                            <li>Cras lacinia elit a turpis ultricies bibendum</li>
                                                            <li>posuere a ligula molestie, suscipit ullamcorper velit</li>
                                                            <li>Nulla ac varius tellus, in laoreet libero</li>
                                                        </ul>
                                                    </div>
                                                    <a href="case-study.html" class="about-three-btn rr-btn-style-1 mt-45">Learn More <i class="fa-solid fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-xxl-6 col-xl-5 col-lg-6 col-md-12 col-sm-12 text-end text-md-center">
                                                <div class="about-three__single-img">
                                                    <img src="assets/img/about/about-3-1.png" alt="about img">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-analytics" role="tabpanel" aria-labelledby="pills-analytics-tab" tabindex="0">
                                    <div class="about-three__single">
                                        <div class="about-three__animation-1">
                                            <img src="assets/img/shape/12.svg" alt="shape icon">
                                        </div>
                                        <div class="about-three__animation-2">
                                            <img src="assets/img/shape/14.svg" alt="shape icon">
                                        </div>
                                        <div class="about-three__animation-3">
                                            <img src="assets/img/shape/11.svg" alt="shape icon">
                                        </div>
                                        <div class="row">
                                            <div class="col-xxl-6 col-xl-7 col-lg-6 col-md-12 col-sm-12">
                                                <div class="about-three__single-content">
                                                    <h2>Customized SEO Strategies Drive Business Growth</h2>
                                                    <div class="list">
                                                        <ul class="list-unstyled">
                                                            <li>Nulla vel dolor accumsan neque vestibulum</li>
                                                            <li>Cras lacinia elit a turpis ultricies bibendum</li>
                                                            <li>posuere a ligula molestie, suscipit ullamcorper velit</li>
                                                            <li>Nulla ac varius tellus, in laoreet libero</li>
                                                        </ul>
                                                    </div>
                                                    <a href="case-study.html" class="about-three-btn rr-btn-style-1 mt-45">Learn More <i class="fa-solid fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-xxl-6 col-xl-5 col-lg-6 col-md-12 col-sm-12 text-end text-md-center">
                                                <div class="about-three__single-img">
                                                    <img src="assets/img/about/about-3-1.png" alt="about img">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-social" role="tabpanel" aria-labelledby="pills-social-tab" tabindex="0">
                                    <div class="about-three__single">
                                        <div class="about-three__animation-1">
                                            <img src="assets/img/shape/12.svg" alt="shape icon">
                                        </div>
                                        <div class="about-three__animation-2">
                                            <img src="assets/img/shape/14.svg" alt="shape icon">
                                        </div>
                                        <div class="about-three__animation-3">
                                            <img src="assets/img/shape/11.svg" alt="shape icon">
                                        </div>
                                        <div class="row">
                                            <div class="col-xxl-6 col-xl-7 col-lg-6 col-md-12 col-sm-12">
                                                <div class="about-three__single-content">
                                                    <h2>Strategic SEO Optimization Elevates Your Brand Presence.</h2>
                                                    <div class="list">
                                                        <ul class="list-unstyled">
                                                            <li>Nulla vel dolor accumsan neque vestibulum</li>
                                                            <li>Cras lacinia elit a turpis ultricies bibendum</li>
                                                            <li>posuere a ligula molestie, suscipit ullamcorper velit</li>
                                                            <li>Nulla ac varius tellus, in laoreet libero</li>
                                                        </ul>
                                                    </div>
                                                    <a href="case-study.html" class="about-three-btn rr-btn-style-1 mt-45">Learn More <i class="fa-solid fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-xxl-6 col-xl-5 col-lg-6 col-md-12 col-sm-12 text-end text-md-center">
                                                <div class="about-three__single-img">
                                                    <img src="assets/img/about/about-3-1.png" alt="about img">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-marketing" role="tabpanel" aria-labelledby="pills-marketing-tab" tabindex="0">
                                    <div class="about-three__single">
                                        <div class="about-three__animation-1">
                                            <img src="assets/img/shape/12.svg" alt="shape icon">
                                        </div>
                                        <div class="about-three__animation-2">
                                            <img src="assets/img/shape/14.svg" alt="shape icon">
                                        </div>
                                        <div class="about-three__animation-3">
                                            <img src="assets/img/shape/11.svg" alt="shape icon">
                                        </div>
                                        <div class="row">
                                            <div class="col-xxl-6 col-xl-7 col-lg-6 col-md-12 col-sm-12">
                                                <div class="about-three__single-content">
                                                    <h2>Precision-Driven SEO Fuels Business Success.</h2>
                                                    <div class="list">
                                                        <ul class="list-unstyled">
                                                            <li>Nulla vel dolor accumsan neque vestibulum</li>
                                                            <li>Cras lacinia elit a turpis ultricies bibendum</li>
                                                            <li>posuere a ligula molestie, suscipit ullamcorper velit</li>
                                                            <li>Nulla ac varius tellus, in laoreet libero</li>
                                                        </ul>
                                                    </div>
                                                    <a href="case-study.html" class="about-three-btn rr-btn-style-1 mt-45">Learn More <i class="fa-solid fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-xxl-6 col-xl-5 col-lg-6 col-md-12 col-sm-12 text-end text-md-center">
                                                <div class="about-three__single-img">
                                                    <img src="assets/img/about/about-3-1.png" alt="about img">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-management" role="tabpanel" aria-labelledby="pills-management-tab" tabindex="0">
                                    <div class="about-three__single">
                                        <div class="about-three__animation-1">
                                            <img src="assets/img/shape/12.svg" alt="shape icon">
                                        </div>
                                        <div class="about-three__animation-2">
                                            <img src="assets/img/shape/14.svg" alt="shape icon">
                                        </div>
                                        <div class="about-three__animation-3">
                                            <img src="assets/img/shape/11.svg" alt="shape icon">
                                        </div>
                                        <div class="row">
                                            <div class="col-xxl-6 col-xl-7 col-lg-6 col-md-12 col-sm-12">
                                                <div class="about-three__single-content">
                                                    <h2>Targeted SEO Initiatives Enhance Your Online Visibility.</h2>
                                                    <div class="list">
                                                        <ul class="list-unstyled">
                                                            <li>Nulla vel dolor accumsan neque vestibulum</li>
                                                            <li>Cras lacinia elit a turpis ultricies bibendum</li>
                                                            <li>posuere a ligula molestie, suscipit ullamcorper velit</li>
                                                            <li>Nulla ac varius tellus, in laoreet libero</li>
                                                        </ul>
                                                    </div>
                                                    <a href="case-study.html" class="about-three-btn rr-btn-style-1 mt-45">Learn More <i class="fa-solid fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-xxl-6 col-xl-5 col-lg-6 col-md-12 col-sm-12 text-end text-md-center">
                                                <div class="about-three__single-img">
                                                    <img src="assets/img/about/about-3-1.png" alt="about img">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-optimization" role="tabpanel" aria-labelledby="pills-optimization-tab" tabindex="0">
                                    <div class="about-three__single">
                                        <div class="about-three__animation-1">
                                            <img src="assets/img/shape/12.svg" alt="shape icon">
                                        </div>
                                        <div class="about-three__animation-2">
                                            <img src="assets/img/shape/14.svg" alt="shape icon">
                                        </div>
                                        <div class="about-three__animation-3">
                                            <img src="assets/img/shape/11.svg" alt="shape icon">
                                        </div>
                                        <div class="row">
                                            <div class="col-xxl-6 col-xl-7 col-lg-6 col-md-12 col-sm-12">
                                                <div class="about-three__single-content">
                                                    <h2>Expert-Crafted SEO Campaigns Propel Your Business Forward.</h2>
                                                    <div class="list">
                                                        <ul class="list-unstyled">
                                                            <li>Nulla vel dolor accumsan neque vestibulum</li>
                                                            <li>Cras lacinia elit a turpis ultricies bibendum</li>
                                                            <li>posuere a ligula molestie, suscipit ullamcorper velit</li>
                                                            <li>Nulla ac varius tellus, in laoreet libero</li>
                                                        </ul>
                                                    </div>
                                                    <a href="case-study.html" class="about-three-btn rr-btn-style-1 mt-45">Learn More <i class="fa-solid fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-xxl-6 col-xl-5 col-lg-6 col-md-12 col-sm-12 text-end text-md-center">
                                                <div class="about-three__single-img">
                                                    <img src="assets/img/about/about-3-1.png" alt="about img">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-digital" role="tabpanel" aria-labelledby="pills-digital-tab" tabindex="0">
                                    <div class="about-three__single">
                                        <div class="about-three__animation-1">
                                            <img src="assets/img/shape/12.svg" alt="shape icon">
                                        </div>
                                        <div class="about-three__animation-2">
                                            <img src="assets/img/shape/14.svg" alt="shape icon">
                                        </div>
                                        <div class="about-three__animation-3">
                                            <img src="assets/img/shape/11.svg" alt="shape icon">
                                        </div>
                                        <div class="row">
                                            <div class="col-xxl-6 col-xl-7 col-lg-6 col-md-12 col-sm-12">
                                                <div class="about-three__single-content">
                                                    <h2>Bespoke SEO Tactics Amplify Your Reach.</h2>
                                                    <div class="list">
                                                        <ul class="list-unstyled">
                                                            <li>Nulla vel dolor accumsan neque vestibulum</li>
                                                            <li>Cras lacinia elit a turpis ultricies bibendum</li>
                                                            <li>posuere a ligula molestie, suscipit ullamcorper velit</li>
                                                            <li>Nulla ac varius tellus, in laoreet libero</li>
                                                        </ul>
                                                    </div>
                                                    <a href="case-study.html" class="about-three-btn rr-btn-style-1 mt-45">Learn More <i class="fa-solid fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-xxl-6 col-xl-5 col-lg-6 col-md-12 col-sm-12 text-end text-md-center">
                                                <div class="about-three__single-img">
                                                    <img src="assets/img/about/about-3-1.png" alt="about img">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about one end -->

    <!-- brand one start -->
    <div class="brand-one pt-80 pb-140 wow fadeInUp" data-wow-delay=".3s">
        <div class="container">
            <div class="row">
                <h2 class="brand-one__title">Trusted by 25,000+ companies</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <div class="brand-one__active owl-carousel">
                        <div class="brand-one__single">
                            <a href="#"><img src="assets/img/brand-two/polymath-black.png" alt="brand logo"></a>
                        </div>
                        <div class="brand-one__single">
                            <a href="#"><img src="assets/img/brand-two/epicurious-black.png" alt="brand logo"></a>
                        </div>
                        <div class="brand-one__single">
                            <a href="#"><img src="assets/img/brand-two/lightbox-black.png" alt="brand logo"></a>
                        </div>
                        <div class="brand-one__single">
                            <a href="#"><img src="assets/img/brand-two/quotient-black.png" alt="brand logo"></a>
                        </div>
                        <div class="brand-one__single">
                            <a href="#"><img src="assets/img/brand-two/boltshift-black.png" alt="brand logo"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- brand one end -->

    <!-- faq two start -->
    <div class="faq-two">
        <div class="row g-0 align-items-center">
            <div class="col-xxl-6 col-xl-6 col-lg-12 col-md-12">
                <div class="faq-two-content__wrapper">
                    <div class="faq-two__animation1">
                        <img src="assets/img/shape/arrow-snack.svg" alt="shape">
                    </div>
                    <div class="faq-two__animation2">
                        <img src="assets/img/shape/6.svg" alt="shape">
                    </div>
                    <div class="faq-two__animation3">
                        <img src="assets/img/shape/5.svg" alt="shape">
                    </div>
                    <div class="faq-two__animation4">
                        <img src="assets/img/shape/11.svg" alt="shape">
                    </div>
                    <div class="faq-two__animation5">
                        <img src="assets/img/shape/arrow-circle-line-2.png" alt="shape">
                    </div>
                    <div class="fac-two__content">
                        <h2 class="section-title__one-title">Recover From Google <br> Penalties with SEO.</h2>
                        <div class="faq-two__faq">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-items wow fadeInUp" data-wow-delay=".3s">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-buttons collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqtwocollapseOne" aria-expanded="false" aria-controls="faqtwocollapseOne">
                                            Competitors Analysis
                                        </button>
                                    </h2>
                                    <div id="faqtwocollapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="accrodion-content">
                                                <div class="text">
                                                    <div class="list">
                                                        <ul>
                                                            <li><a href="#">Cohabiter elemental simple <i class="fa-regular fa-arrow-up-right"></i></a></li>
                                                            <li><a href="#">Phaseolus nulls ellipt <i class="fa-regular fa-arrow-up-right"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-items wow fadeInUp" data-wow-delay=".5s">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-buttons" type="button" data-bs-toggle="collapse" data-bs-target="#faqtwocollapseTwo" aria-expanded="true" aria-controls="faqtwocollapseTwo">
                                            Keyword Research
                                        </button>
                                    </h2>
                                    <div id="faqtwocollapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="accrodion-content">
                                                <div class="text">
                                                    <div class="list">
                                                        <ul>
                                                            <li><a href="#">Cohabiter elemental simple <i class="fa-regular fa-arrow-up-right"></i></a></li>
                                                            <li><a href="#">Phaseolus nulls ellipt <i class="fa-regular fa-arrow-up-right"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-items wow fadeInUp" data-wow-delay=".7s">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-buttons collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqtwocollapseThree" aria-expanded="false" aria-controls="faqtwocollapseThree">
                                            Content Generation
                                      </button>
                                    </h2>
                                    <div id="faqtwocollapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="accrodion-content">
                                                <div class="text">
                                                    <div class="list">
                                                        <ul>
                                                            <li><a href="#">Cohabiter elemental simple <i class="fa-regular fa-arrow-up-right"></i></a></li>
                                                            <li><a href="#">Phaseolus nulls ellipt <i class="fa-regular fa-arrow-up-right"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-items wow fadeInUp" data-wow-delay=".9s">
                                    <h2 class="accordion-header" id="headingFour">
                                        <button class="accordion-buttons collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqtwocollapseFour" aria-expanded="false" aria-controls="faqtwocollapseFour">
                                            Keyword Clustering
                                        </button>
                                    </h2>
                                    <div id="faqtwocollapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="accrodion-content">
                                                <div class="text">
                                                    <div class="list">
                                                        <ul>
                                                            <li><a href="#">Cohabiter elemental simple <i class="fa-regular fa-arrow-up-right"></i></a></li>
                                                            <li><a href="#">Phaseolus nulls ellipt <i class="fa-regular fa-arrow-up-right"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-12 col-md-12">
                <div class="faq-two__right wow fadeInUp" data-wow-delay=".3s">
                    <div class="faq-two__right-img">
                        <img src="assets/img/faq/faq-1.png" alt="faq img">
                        <div class="faq-two__right-img1">
                            <img src="assets/img/faq/faq-2.png" alt="faq img">
                        </div>
                        <div class="faq-two__right-img2">
                            <img src="assets/img/faq/faq-3.png" alt="faq img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- faq two end -->

    <!-- faq three start -->
    <div class="faq-three pt-160 pb-100">
        <div class="faq-three__animation-1">
            <img src="assets/img/shape/12.svg" alt="shape icon">
        </div>
        <div class="faq-three__animation-2">
            <img src="assets/img/shape/13.svg" alt="shape icon">
        </div>
        <div class="faq-three__animation-3">
            <img src="assets/img/shape/14.svg" alt="shape icon">
        </div>
        <div class="faq-three__animation-4">
            <img src="assets/img/shape/arrow-circle-line-3.png" alt="shape icon">
        </div>
        <div class="faq-three__animation-5">
            <img src="assets/img/shape/arrow-circle-line-4.png" alt="shape icon">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xxl-6 col-xl-6">
                    <div class="faq-three__faq">
                        <div class="accordion" id="faqThree">
                            <div class="accordion-items wow fadeInUp" data-wow-delay=".3s">
                                <h2 class="accordion-header" id="faqthreeOne">
                                    <button class="accordion-buttons collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqthreecollapseOne" aria-expanded="false" aria-controls="faqthreecollapseOne">
                                        Silver Pack
                                    </button>
                                </h2>
                                <div id="faqthreecollapseOne" class="accordion-collapse collapse" aria-labelledby="faqthreeOne" data-bs-parent="#faqThree">
                                    <div class="accordion-body">
                                        <div class="accrodion-content">
                                            <div class="text">
                                                <div class="pricing-list">
                                                    <ul>
                                                        <li><i class="fa-light fa-check"></i>10k row search results</li>
                                                        <li><i class="fa-light fa-check"></i>10k row data exports</li>
                                                        <li><i class="fa-light fa-check"></i>100 domain overview PDF's</li>
                                                        <li><i class="fa-light fa-check"></i>6 months historical data</li>
                                                        <li><i class="fa-light fa-check"></i>250 sales leads & domain contacts</li>
                                                    </ul>
                                                </div>
                                                <div class="pricing-footer d__column-two">
                                                    <h5>$39 <span>/ Month</span></h5>
                                                    <a href="contact.html">Free Try <i class="fa-light fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-items wow fadeInUp" data-wow-delay=".5s">
                                <h2 class="accordion-header" id="faqthreeTwo">
                                    <button class="accordion-buttons" type="button" data-bs-toggle="collapse" data-bs-target="#faqthreecollapseTwo" aria-expanded="true" aria-controls="faqthreecollapseTwo">
                                        Gold pack
                                    </button>
                                </h2>
                                <div id="faqthreecollapseTwo" class="accordion-collapse collapse show" aria-labelledby="faqthreeTwo" data-bs-parent="#faqThree">
                                    <div class="accordion-body">
                                        <div class="accrodion-content">
                                            <div class="text">
                                                <div class="pricing-list">
                                                    <ul>
                                                        <li><i class="fa-light fa-check"></i>10k row search results</li>
                                                        <li><i class="fa-light fa-check"></i>10k row data exports</li>
                                                        <li><i class="fa-light fa-check"></i>100 domain overview PDF's</li>
                                                        <li><i class="fa-light fa-check"></i>6 months historical data</li>
                                                        <li><i class="fa-light fa-check"></i>250 sales leads & domain contacts</li>
                                                    </ul>
                                                </div>
                                                <div class="pricing-footer d__column-two">
                                                    <h5>$69 <span>/ Month</span></h5>
                                                    <a href="contact.html">Free Try <i class="fa-light fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-items wow fadeInUp" data-wow-delay=".7s">
                                <h2 class="accordion-header" id="faqthreeThree">
                                    <button class="accordion-buttons collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqthreecollapseThree" aria-expanded="false" aria-controls="faqthreecollapseThree">
                                        Platinum pack
                                    </button>
                                </h2>
                                <div id="faqthreecollapseThree" class="accordion-collapse collapse" aria-labelledby="faqthreeThree" data-bs-parent="#faqThree">
                                    <div class="accordion-body">
                                        <div class="accrodion-content">
                                            <div class="text">
                                                <div class="pricing-list">
                                                    <ul>
                                                        <li><i class="fa-light fa-check"></i>10k row search results</li>
                                                        <li><i class="fa-light fa-check"></i>10k row data exports</li>
                                                        <li><i class="fa-light fa-check"></i>100 domain overview PDF's</li>
                                                        <li><i class="fa-light fa-check"></i>6 months historical data</li>
                                                        <li><i class="fa-light fa-check"></i>250 sales leads & domain contacts</li>
                                                    </ul>
                                                </div>
                                                <div class="pricing-footer d__column-two">
                                                    <h5>$89 <span>/ Month</span></h5>
                                                    <a href="contact.html">Free Try <i class="fa-light fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6">
                    <div class="faq-three__content wow fadeInRight" data-wow-delay=".5s">
                        <h2 class="section-title__two-title mb-10">Our Business-Friendly Pricing Solutions.</h2>
                        <p>Praesent mollis tortor augue, lacinia vestibulum sem cursus sed. Suspendisse quis sapien sed odio dictum fringilla eget eget ligula Duis varius ornare quam, interdum libero elementum bibendum arcu efficitur vehicula.</p>
                        <img src="assets/img/faq/faq-3-1.png" alt="faq img">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- faq three end -->

    <!-- case study one start -->
    <div class="case-study-one pt-110 pb-140">
        <div class="case-study-one__color-effect1"></div>
        <div class="case-study-one__color-effect2"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <h2 class="section-title__one-title">The Power of Optimization <br> SEO Case Studies.</h2>
                </div>
            </div>
        </div>
        <div class="container-fulid">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="has-scrollbar position-relative">
                        <div class="case-study-one__active swiper-container" data-wow-delay=".5s">
                            <div class="swiper-wrapper">
                                <div class="case-study-one__single swiper-slide wow fadeInUp" data-wow-delay=".3s">
                                    <div class="header">
                                        <div class="img">
                                            <img src="assets/img/case-study/case-1-2.jpg" alt="case study">
                                        </div>
                                        <div class="content">
                                            <img src="assets/img/brand-two/epicurious-black.png" alt="brand logo">
                                            <h2><a href="case-study.html">How Visme Facilitates Communication between Insurance Marketers and Business Experts</a></h2>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="footer__left">
                                            <h3>2nd Position</h3>
                                            <p>Donec tempus scelerisque malasada Nunc effector protium Bibendum.</p>
                                        </div>
                                        <div class="footer__left">
                                            <h3>2587</h3>
                                            <p>Greatly hearted has who believe green son walls years for blush.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="case-study-one__single swiper-slide wow fadeInUp" data-wow-delay=".5s">
                                    <div class="header">
                                        <div class="img">
                                            <img src="assets/img/case-study/case-1-1.jpg" alt="case study">
                                        </div>
                                        <div class="content">
                                            <img src="assets/img/brand-two/boltshift-black.png" alt="brand logo">
                                            <h2><a href="case-study.html">Bridging the Marketing and Business Divide How an Insurance Company Leverages Visme.</a></h2>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="footer__left">
                                            <h3>2nd Position</h3>
                                            <p>drawings repeated recurred exercise laughing may you but.</p>
                                        </div>
                                        <div class="footer__left">
                                            <h3>300%</h3>
                                            <p>Do repeated whatever to welcomed absolute surprise although outlived.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="case-study-one__single swiper-slide wow fadeInUp" data-wow-delay=".7s">
                                    <div class="header">
                                        <div class="img">
                                            <img src="assets/img/case-study/case-1-3.jpg" alt="case study">
                                        </div>
                                        <div class="content">
                                            <img src="assets/img/brand-two/featherdev-black.png" alt="brand logo">
                                            <h2><a href="case-study.html">Bridging the Marketing and Business Divide How an Insurance Company Leverages Visme.</a></h2>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="footer__left">
                                            <h3>5487</h3>
                                            <p>How Visme Transforms Insurance Marketing and Business Coordination.</p>
                                        </div>
                                        <div class="footer__left">
                                            <h3>1000%</h3>
                                            <p>Musical by me through he drawing savings an. No we stand avoid.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="case-study-one__single swiper-slide wow fadeInUp" data-wow-delay=".9s">
                                    <div class="header">
                                        <div class="img">
                                            <img src="assets/img/case-study/case-1-4.jpg" alt="case study">
                                        </div>
                                        <div class="content">
                                            <img src="assets/img/brand-two/lightbox-black.png" alt="brand logo">
                                            <h2><a href="case-study.html">Bridging the Marketing and Business Divide How an Insurance Company Leverages Visme.</a></h2>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="footer__left">
                                            <h3>9887</h3>
                                            <p>Civilly why how end viewing attempt related enquire visitor.</p>
                                        </div>
                                        <div class="footer__left">
                                            <h3>150%</h3>
                                            <p>Particular insensible celebrated conviction stimulated principles day.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="case-study-one__single swiper-slide wow fadeInUp" data-wow-delay=".3s">
                                    <div class="header">
                                        <div class="img">
                                            <img src="assets/img/case-study/case-1-5.jpg" alt="case study">
                                        </div>
                                        <div class="content">
                                            <img src="assets/img/brand-two/polymath-black.png" alt="brand logo">
                                            <h2><a href="case-study.html">Bridging the Marketing and Business Divide How an Insurance Company Leverages Visme.</a></h2>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="footer__left">
                                            <h3>9009</h3>
                                            <p>Simple innate summer fat appear basket his desire joy.</p>
                                        </div>
                                        <div class="footer__left">
                                            <h3>180%</h3>
                                            <p>Sufficient particular impossible by reasonable oh expression is.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="case-study-one__single swiper-slide wow fadeInUp" data-wow-delay=".5s">
                                    <div class="header">
                                        <div class="img">
                                            <img src="assets/img/case-study/case-1-2.jpg" alt="case study">
                                        </div>
                                        <div class="content">
                                            <img src="assets/img/brand-two/epicurious-black.png" alt="brand logo">
                                            <h2><a href="case-study.html">How Visme Facilitates Communication between Insurance Marketers and Business Experts</a></h2>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="footer__left">
                                            <h3>2nd Position</h3>
                                            <p>Donec tempus scelerisque malasada Nunc effector protium Bibendum.</p>
                                        </div>
                                        <div class="footer__left">
                                            <h3>2587</h3>
                                            <p>Greatly hearted has who believe green son walls years for blush.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="case-study-one__single swiper-slide wow fadeInUp" data-wow-delay=".7s">
                                    <div class="header">
                                        <div class="img">
                                            <img src="assets/img/case-study/case-1-1.jpg" alt="case study">
                                        </div>
                                        <div class="content">
                                            <img src="assets/img/brand-two/boltshift-black.png" alt="brand logo">
                                            <h2><a href="case-study.html">Bridging the Marketing and Business Divide How an Insurance Company Leverages Visme.</a></h2>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="footer__left">
                                            <h3>2nd Position</h3>
                                            <p>drawings repeated recurred exercise laughing may you but.</p>
                                        </div>
                                        <div class="footer__left">
                                            <h3>300%</h3>
                                            <p>Do repeated whatever to welcomed absolute surprise although outlived.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="case-study-one__single swiper-slide wow fadeInUp" data-wow-delay=".9s">
                                    <div class="header">
                                        <div class="img">
                                            <img src="assets/img/case-study/case-1-3.jpg" alt="case study">
                                        </div>
                                        <div class="content">
                                            <img src="assets/img/brand-two/featherdev-black.png" alt="brand logo">
                                            <h2><a href="case-study.html">Bridging the Marketing and Business Divide How an Insurance Company Leverages Visme.</a></h2>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="footer__left">
                                            <h3>5487</h3>
                                            <p>How Visme Transforms Insurance Marketing and Business Coordination.</p>
                                        </div>
                                        <div class="footer__left">
                                            <h3>1000%</h3>
                                            <p>Musical by me through he drawing savings an. No we stand avoid.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="case-study-one__single swiper-slide wow fadeInUp" data-wow-delay=".3s">
                                    <div class="header">
                                        <div class="img">
                                            <img src="assets/img/case-study/case-1-4.jpg" alt="case study">
                                        </div>
                                        <div class="content">
                                            <img src="assets/img/brand-two/lightbox-black.png" alt="brand logo">
                                            <h2><a href="case-study.html">Bridging the Marketing and Business Divide How an Insurance Company Leverages Visme.</a></h2>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="footer__left">
                                            <h3>9887</h3>
                                            <p>Civilly why how end viewing attempt related enquire visitor.</p>
                                        </div>
                                        <div class="footer__left">
                                            <h3>150%</h3>
                                            <p>Particular insensible celebrated conviction stimulated principles day.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="case-study-one__single swiper-slide wow fadeInUp" data-wow-delay=".5s">
                                    <div class="header">
                                        <div class="img">
                                            <img src="assets/img/case-study/case-1-5.jpg" alt="case study">
                                        </div>
                                        <div class="content">
                                            <img src="assets/img/brand-two/polymath-black.png" alt="brand logo">
                                            <h2><a href="case-study.html">Bridging the Marketing and Business Divide How an Insurance Company Leverages Visme.</a></h2>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="footer__left">
                                            <h3>9009</h3>
                                            <p>Simple innate summer fat appear basket his desire joy.</p>
                                        </div>
                                        <div class="footer__left">
                                            <h3>180%</h3>
                                            <p>Sufficient particular impossible by reasonable oh expression is.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rr-scrollbar mt-70 wow fadeInUp" data-wow-delay=".3s"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- case study one end -->

    <!-- integrations one start -->
    <div class="integrations-map-one pt-150">
        <div class="section-title__one text-center">
            <h2 class="section-title__one-title">SEO Ranking Integrations</h2>
        </div>
        <div class="integrations-map-one__wrapper">
            <div class="integrations-map-one__img">
                <img src="assets/img/integrations/map.png" alt="map">
            </div>
            <div class="integrations-map-one__item0 wow fadeInUp" data-wow-delay=".3s">
                <img src="assets/img/integrations/star.png" alt="icon">
                <div class="ripple"></div>
            </div>
            <div class="integrations-map-one__item1 wow fadeInLeft" data-wow-delay=".5s">
                <img src="assets/img/integrations/google.png" alt="icon">
            </div>
            <div class="integrations-map-one__item2 wow fadeInLeft" data-wow-delay=".7s">
                <img src="assets/img/integrations/slack.png" alt="icon">
            </div>
            <div class="integrations-map-one__item3 wow fadeInLeft" data-wow-delay=".9s">
                <img src="assets/img/integrations/hubspot.png" alt="icon">
            </div>
            <div class="integrations-map-one__item4 wow fadeInLeft" data-wow-delay=".3s">
                <img src="assets/img/integrations/dropbox.png" alt="icon">
            </div>
            <div class="integrations-map-one__item5 wow fadeInRight" data-wow-delay=".5s">
                <img src="assets/img/integrations/github.png" alt="icon">
            </div>
            <div class="integrations-map-one__item6 wow fadeInRight" data-wow-delay=".7s">
                <img src="assets/img/integrations/wix.png" alt="icon">
            </div>
            <div class="integrations-map-one__item7 wow fadeInRight" data-wow-delay=".9s">
                <img src="assets/img/integrations/monday.png" alt="icon">
            </div>
            <div class="integrations-map-one__item8 wow fadeInRight" data-wow-delay=".3s">
                <img src="assets/img/integrations/zoom.png" alt="icon">
            </div>
            <div class="integrations-map-one__item9 wow fadeInRight" data-wow-delay=".5s">
                <img src="assets/img/integrations/quickbooks.png" alt="icon">
            </div>
            <div class="integrations-map-one__item10 wow fadeInRight" data-wow-delay=".7s">
                <img src="assets/img/integrations/mailchimp.png" alt="icon">
            </div>
        </div>
    </div>
    <!-- integrations one end -->

    <!-- blog two start -->
    <div class="blog-two theme-gray-3 pt-110 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12 text-center wow fadeInUp" data-wow-delay=".3s">
                    <h2 class="section-title__one-title">Trends and Predictions <br> for Online Success.</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-12 col-sm-12">
                    <div class="blog-two__single mb-30 wow fadeInUp" data-wow-delay=".3s">
                        <div class="blog-two__single-content">
                            <div class="postbox__meta">
                                <span><i class="fa-light fa-calendar-lines"></i>March 25,2023</span>
                            </div>
                            <h2 class="blog-two__title"><a href="blog-details.html">Local SEO Checklist Steps Optimize Your Business Local For Searches.</a></h2>
                            <div class="row">
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <a href="blog-details.html" class="blog-two__btn">Learn More <i class="fa-solid fa-arrow-right"></i></a>
                                </div>
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 text-end">
                                    <div class="share-icon">
                                        <a href="#"><i class="fa-light fa-share-nodes"></i></a>
                                        <div class="share-option__hover">
                                            <ul>
                                                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-12 col-sm-12">
                    <div class="blog-two__single mb-30 wow fadeInUp" data-wow-delay=".5s">
                        <div class="blog-two__single-content">
                            <div class="postbox__meta">
                                <span><i class="fa-light fa-calendar-lines"></i>March 25,2023</span>
                            </div>
                            <h2 class="blog-two__title"><a href="blog-details.html">The Role of SEO in Brand Building and Online Business Reputation.</a></h2>
                            <div class="row">
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <a href="blog-details.html" class="blog-two__btn">Learn More <i class="fa-solid fa-arrow-right"></i></a>
                                </div>
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 text-end">
                                    <div class="share-icon">
                                        <a href="#"><i class="fa-light fa-share-nodes"></i></a>
                                        <div class="share-option__hover">
                                            <ul>
                                                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-12 col-sm-12">
                    <div class="blog-two__single mb-30 wow fadeInUp" data-wow-delay=".7s">
                        <div class="blog-two__single-content">
                            <div class="postbox__meta">
                                <span><i class="fa-light fa-calendar-lines"></i>March 25,2023</span>
                            </div>
                            <h2 class="blog-two__title"><a href="blog-details.html">SEO Content Marketing and Creating Valuable Content Searchable.</a></h2>
                            <div class="row">
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <a href="blog-details.html" class="blog-two__btn">Learn More <i class="fa-solid fa-arrow-right"></i></a>
                                </div>
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 text-end">
                                    <div class="share-icon">
                                        <a href="#"><i class="fa-light fa-share-nodes"></i></a>
                                        <div class="share-option__hover">
                                            <ul>
                                                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- blog two end -->

    <!-- cta one start -->
    <div class="cta-one theme-gray-3 position-relative wow fadeInUp" data-wow-delay=".3s">
        <div class="container">
            <div class="cta-one__overlay"></div>
            <div class="cta-one__wrapper">
                <div class="cta-one__img1">
                    <img src="assets/img/cta/dotted.svg" alt="shape">
                </div>
                <div class="cta-one__img2">
                    <img src="assets/img/cta/leaf.png" alt="shape">
                </div>
                <div class="cta-one__img3">
                    <img src="assets/img/cta/cta-1-2.png" alt="shape">
                </div>
                <div class="cta-one__img4">
                    <img src="assets/img/cta/cta-1-3.png" alt="shape">
                </div>
                <div class="cta-one__img5">
                    <img src="assets/img/cta/arrow-top-corner.png" alt="shape">
                </div>
                <div class="cta-one__img6">
                    <img src="assets/img/cta/arrow-down-corner.png" alt="shape">
                </div>
                <div class="cta-one__img7">
                    <img src="assets/img/cta/arrow-left.png" alt="shape">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-12 col-sm-12 text-center">
                            <div class="cta-main__img">
                                <img src="assets/img/cta/cta-1-1.png" alt="cta img">
                            </div>
                        </div>
                        <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-12 col-sm-12">
                            <h2>Be the First to Know <br> Join Us for All Updates.</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor adipiscing commodo imperdiet.</p>
                            <div class="cta-one__wrapper-form">
                                <form action="#">
                                    <input type="text" placeholder="Enter your mail here.....">
                                    <button type="submit" class="cta-one__btn rr-btn-style-1">Sign Up</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- cta one end -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top" style="display: none;"><i class="fa fa-angle-up"></i></a>

<%- include ("footer.ejs"); %>