<% Object.keys(messages).forEach(function (type) { %>
<div
  class="alert alert-<%= type %> alert-dismissible fade show"
  role="alert"
  id="messages-notify"
>
  <% messages[type].forEach(function (message) { %>
    <%= message %>
  <% }) %>

  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% }) %>
