<%- include ("header.ejs"); %>
<!-- End Header -->
<style>
  .table_sell {
    background-color: #54524d;
    border-radius: 20px !important;
    color: #fff !important;
  }

  .table_sell th {
    color: #fff !important;
    font-size: 16px !important;
  }

  tbody td {
    padding: 0px !important;
    font-weight: 500;
  }
</style>
<main class="main">
  <!-- <div
    class="page-header cph-header pl-4 pr-4"
    style="background-color: #fff7ec"
  >
    <h1 class="page-title font-weight-light text-capitalize">Shop</h1>
  </div>
  <div class="container-fluid">
    <nav class="breadcrumb-nav has-border">
      <ul class="breadcrumb">
        <li><a href="demo1.html">Home</a></li>
        <li>Shop</li>
      </ul>
    </nav>

    <div class="page-content mb-10 shop-page shop-horizontal">
      <nav
        class="toolbox toolbox-horizontal sticky-toolbox sticky-content fix-top"
      ></nav>
      <div class="select-items">
        <a href="#" class="filter-clean text-primary">Clean All</a>
      </div>
    </div>
  </div> -->

  <!--Market container-->
  <div class="container d-flex flex-column" style="gap: 75px">
    <!--Add the sales page here begining-->
    <!--facebook shop-->
    <div class="">
      <div
        class="btn btn-dim btn-block mt-4"
        style="border-radius: 7px; text-align: start; padding-left: 5px"
      >
        FaceBook
      </div>
      <div
        class=""
        style="
          background-color: #f8f8f8;
          border-radius: 7px;
          margin-top: 10px;
          padding: 10px;
        "
      >
        <table class="order-table">
          <thead>
            <tr class="table_sell">
              <th>Title</th>
              <th></th>
              <th>Price</th>
              <th>Stock</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="order-number" style="white-space: nowrap">
                Standard USA 🇺🇸 (100-1000 friends) | with marketplace , some
                might have dating & groups
              </td>
              <td></td>
              <td class="order-date"><span>NGN4,350.00</span></td>
              <td class="order-status"><span>0 pcs.</span></td>
              <td class="order-total"><span>Out of stock</span></td>
              <!-- <td class="order-action">
                <a
                  href="#orders-view"
                  class="btn btn-secondary btn-outline btn-block btn-rounded btn-sm"
                  >View</a
                >
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>

      <div
        class="btn btn-block btn-primary mt-6"
        style="border-radius: 7px; text-align: center"
      >
        View All
      </div>
    </div>
    <!--end of face book-->

    <!--facebook dating-->
    <div class="">
      <div
        class="btn btn-dim btn-block mt-4"
        style="border-radius: 7px; text-align: start; padding-left: 5px"
      >
        FaceBook Dating
      </div>
      <div
        class=""
        style="
          background-color: #f8f8f8;
          border-radius: 7px;
          margin-top: 10px;
          padding: 10px;
        "
      >
        <table class="order-table">
          <thead>
            <tr class="table_sell">
              <th>Title</th>
              <th></th>
              <th>Price</th>
              <th>Stock</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="order-number" style="white-space: nowrap">
                Standard USA 🇺🇸 (100-1000 friends) | with marketplace , some
                might have dating & groups
              </td>
              <td></td>
              <td class="order-date"><span>NGN4,350.00</span></td>
              <td class="order-status"><span>0 pcs.</span></td>
              <td class="order-total"><span>Out of stock</span></td>
              <!-- <td class="order-action">
                      <a
                        href="#orders-view"
                        class="btn btn-secondary btn-outline btn-block btn-rounded btn-sm"
                        >View</a
                      >
                    </td> -->
            </tr>
          </tbody>
        </table>
      </div>

      <div
        class="btn btn-block btn-primary mt-6"
        style="border-radius: 7px; text-align: center"
      >
        View All
      </div>
    </div>
    <!--end of facebook dating-->

    <!--OTHER COUNTRIES FACEBOOK-->
    <div class="">
      <div
        class="btn btn-dim btn-block mt-4"
        style="border-radius: 7px; text-align: start; padding-left: 5px"
      >
        OTHER COUNTRIES FACEBOOK
      </div>
      <div
        class=""
        style="
          background-color: #f8f8f8;
          border-radius: 7px;
          margin-top: 10px;
          padding: 10px;
        "
      >
        <table class="order-table">
          <thead>
            <tr class="table_sell">
              <th>Title</th>
              <th></th>
              <th>Price</th>
              <th>Stock</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="order-number" style="white-space: nowrap">
                Standard USA 🇺🇸 (100-1000 friends) | with marketplace , some
                might have dating & groups
              </td>
              <td></td>
              <td class="order-date"><span>NGN4,350.00</span></td>
              <td class="order-status"><span>0 pcs.</span></td>
              <td class="order-total"><span>Out of stock</span></td>
              <!-- <td class="order-action">
                            <a
                              href="#orders-view"
                              class="btn btn-secondary btn-outline btn-block btn-rounded btn-sm"
                              >View</a
                            >
                          </td> -->
            </tr>
          </tbody>
        </table>
      </div>

      <div
        class="btn btn-block btn-primary mt-6"
        style="border-radius: 7px; text-align: center"
      >
        View All
      </div>
    </div>
    <!--end of OTHER COUNTRIES FACEBOOK-->

    <!--TWITTER-->
    <div class="">
      <div
        class="btn btn-dim btn-block mt-4"
        style="border-radius: 7px; text-align: start; padding-left: 5px"
      >
        TWITTER
      </div>
      <div
        class=""
        style="
          background-color: #f8f8f8;
          border-radius: 7px;
          margin-top: 10px;
          padding: 10px;
        "
      >
        <table class="order-table">
          <thead>
            <tr class="table_sell">
              <th>Title</th>
              <th></th>
              <th>Price</th>
              <th>Stock</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="order-number" style="white-space: nowrap">
                Standard USA 🇺🇸 (100-1000 friends) | with marketplace , some
                might have dating & groups
              </td>
              <td></td>
              <td class="order-date"><span>NGN4,350.00</span></td>
              <td class="order-status"><span>0 pcs.</span></td>
              <td class="order-total"><span>Out of stock</span></td>
              <!-- <td class="order-action">
                            <a
                              href="#orders-view"
                              class="btn btn-secondary btn-outline btn-block btn-rounded btn-sm"
                              >View</a
                            >
                          </td> -->
            </tr>
          </tbody>
        </table>
      </div>

      <div
        class="btn btn-block btn-primary mt-6"
        style="border-radius: 7px; text-align: center"
      >
        View All
      </div>
    </div>
    <!--end of TWITTER-->

    <!--REEDIT-->
    <div class="">
      <div
        class="btn btn-dim btn-block mt-4"
        style="border-radius: 7px; text-align: start; padding-left: 5px"
      >
        REEDIT
      </div>
      <div
        class=""
        style="
          background-color: #f8f8f8;
          border-radius: 7px;
          margin-top: 10px;
          padding: 10px;
        "
      >
        <table class="order-table">
          <thead>
            <tr class="table_sell">
              <th>Title</th>
              <th></th>
              <th>Price</th>
              <th>Stock</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="order-number" style="white-space: nowrap">
                Standard USA 🇺🇸 (100-1000 friends) | with marketplace , some
                might have dating & groups
              </td>
              <td></td>
              <td class="order-date"><span>NGN4,350.00</span></td>
              <td class="order-status"><span>0 pcs.</span></td>
              <td class="order-total"><span>Out of stock</span></td>
              <!-- <td class="order-action">
                            <a
                              href="#orders-view"
                              class="btn btn-secondary btn-outline btn-block btn-rounded btn-sm"
                              >View</a
                            >
                          </td> -->
            </tr>
          </tbody>
        </table>
      </div>

      <div
        class="btn btn-block btn-primary mt-6"
        style="border-radius: 7px; text-align: center"
      >
        View All
      </div>
    </div>
    <!--end of REEDIT-->

    <!--MAILS-->
    <div class="">
      <div
        class="btn btn-dim btn-block mt-4"
        style="border-radius: 7px; text-align: start; padding-left: 5px"
      >
        MAILS
      </div>
      <div
        class=""
        style="
          background-color: #f8f8f8;
          border-radius: 7px;
          margin-top: 10px;
          padding: 10px;
        "
      >
        <table class="order-table">
          <thead>
            <tr class="table_sell">
              <th>Title</th>
              <th></th>
              <th>Price</th>
              <th>Stock</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="order-number" style="white-space: nowrap">
                Standard USA 🇺🇸 (100-1000 friends) | with marketplace , some
                might have dating & groups
              </td>
              <td></td>
              <td class="order-date"><span>NGN4,350.00</span></td>
              <td class="order-status"><span>0 pcs.</span></td>
              <td class="order-total"><span>Out of stock</span></td>
              <!-- <td class="order-action">
                            <a
                              href="#orders-view"
                              class="btn btn-secondary btn-outline btn-block btn-rounded btn-sm"
                              >View</a
                            >
                          </td> -->
            </tr>
          </tbody>
        </table>
      </div>

      <div
        class="btn btn-block btn-primary mt-6"
        style="border-radius: 7px; text-align: center"
      >
        View All
      </div>
    </div>
    <!--end of MAILS-->

    <!--🇺🇸 TIKTOK-->
    <div class="">
      <div
        class="btn btn-dim btn-block mt-4"
        style="border-radius: 7px; text-align: start; padding-left: 5px"
      >
        TIKTOK
      </div>
      <div
        class=""
        style="
          background-color: #f8f8f8;
          border-radius: 7px;
          margin-top: 10px;
          padding: 10px;
        "
      >
        <table class="order-table">
          <thead>
            <tr class="table_sell">
              <th>Title</th>
              <th></th>
              <th>Price</th>
              <th>Stock</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="order-number" style="white-space: nowrap">
                Standard USA 🇺🇸 (100-1000 friends) | with marketplace , some
                might have dating & groups
              </td>
              <td></td>
              <td class="order-date"><span>NGN4,350.00</span></td>
              <td class="order-status"><span>0 pcs.</span></td>
              <td class="order-total"><span>Out of stock</span></td>
              <!-- <td class="order-action">
                            <a
                              href="#orders-view"
                              class="btn btn-secondary btn-outline btn-block btn-rounded btn-sm"
                              >View</a
                            >
                          </td> -->
            </tr>
          </tbody>
        </table>
      </div>

      <div
        class="btn btn-block btn-primary mt-6"
        style="border-radius: 7px; text-align: center"
      >
        View All
      </div>
    </div>
    <!--end of 🇺🇸 TEXTING-->

    <!--MAILS-->
    <div class="">
      <div
        class="btn btn-dim btn-block mt-4"
        style="border-radius: 7px; text-align: start; padding-left: 5px"
      >
        MAILS
      </div>
      <div
        class=""
        style="
          background-color: #f8f8f8;
          border-radius: 7px;
          margin-top: 10px;
          padding: 10px;
        "
      >
        <table class="order-table">
          <thead>
            <tr class="table_sell">
              <th>Title</th>
              <th></th>
              <th>Price</th>
              <th>Stock</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="order-number" style="white-space: nowrap">
                Standard USA 🇺🇸 (100-1000 friends) | with marketplace , some
                might have dating & groups
              </td>
              <td></td>
              <td class="order-date"><span>NGN4,350.00</span></td>
              <td class="order-status"><span>0 pcs.</span></td>
              <td class="order-total"><span>Out of stock</span></td>
              <!-- <td class="order-action">
                            <a
                              href="#orders-view"
                              class="btn btn-secondary btn-outline btn-block btn-rounded btn-sm"
                              >View</a
                            >
                          </td> -->
            </tr>
          </tbody>
        </table>
      </div>

      <div
        class="btn btn-block btn-primary mt-6"
        style="border-radius: 7px; text-align: center"
      >
        View All
      </div>
    </div>
    <!--end of 🇺🇸 MAIN-->

    <!--🇺🇸 TIKTOK-->
    <div class="">
      <div
        class="btn btn-dim btn-block mt-4"
        style="border-radius: 7px; text-align: start; padding-left: 5px"
      >
        TIKTOK
      </div>
      <div
        class=""
        style="
          background-color: #f8f8f8;
          border-radius: 7px;
          margin-top: 10px;
          padding: 10px;
        "
      >
        <table class="order-table">
          <thead>
            <tr class="table_sell">
              <th>Title</th>
              <th></th>
              <th>Price</th>
              <th>Stock</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="order-number" style="white-space: nowrap">
                Standard USA 🇺🇸 (100-1000 friends) | with marketplace , some
                might have dating & groups
              </td>
              <td></td>
              <td class="order-date"><span>NGN4,350.00</span></td>
              <td class="order-status"><span>0 pcs.</span></td>
              <td class="order-total"><span>Out of stock</span></td>
              <!-- <td class="order-action">
                            <a
                              href="#orders-view"
                              class="btn btn-secondary btn-outline btn-block btn-rounded btn-sm"
                              >View</a
                            >
                          </td> -->
            </tr>
          </tbody>
        </table>
      </div>

      <div
        class="btn btn-block btn-primary mt-6"
        style="border-radius: 7px; text-align: center"
      >
        View All
      </div>
    </div>
    <!--end of 🇺🇸 TEXTING-->

    <!--LINKEDIN-->
    <div class="">
      <div
        class="btn btn-dim btn-block mt-4"
        style="border-radius: 7px; text-align: start; padding-left: 5px"
      >
        LINKEDIN
      </div>
      <div
        class=""
        style="
          background-color: #f8f8f8;
          border-radius: 7px;
          margin-top: 10px;
          padding: 10px;
        "
      >
        <table class="order-table">
          <thead>
            <tr class="table_sell">
              <th>Title</th>
              <th></th>
              <th>Price</th>
              <th>Stock</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="order-number" style="white-space: nowrap">
                Standard USA 🇺🇸 (100-1000 friends) | with marketplace , some
                might have dating & groups
              </td>
              <td></td>
              <td class="order-date"><span>NGN4,350.00</span></td>
              <td class="order-status"><span>0 pcs.</span></td>
              <td class="order-total"><span>Out of stock</span></td>
              <!-- <td class="order-action">
                            <a
                              href="#orders-view"
                              class="btn btn-secondary btn-outline btn-block btn-rounded btn-sm"
                              >View</a
                            >
                          </td> -->
            </tr>
          </tbody>
        </table>
      </div>

      <div
        class="btn btn-block btn-primary mt-6"
        style="border-radius: 7px; text-align: center"
      >
        View All
      </div>
    </div>
    <!--end of LINKEDIN-->

    <!--🇺🇸 TIKTOK-->
    <div class="">
      <div
        class="btn btn-dim btn-block mt-4"
        style="border-radius: 7px; text-align: start; padding-left: 5px"
      >
        TIKTOK
      </div>
      <div
        class=""
        style="
          background-color: #f8f8f8;
          border-radius: 7px;
          margin-top: 10px;
          padding: 10px;
        "
      >
        <table class="order-table">
          <thead>
            <tr class="table_sell">
              <th>Title</th>
              <th></th>
              <th>Price</th>
              <th>Stock</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="order-number" style="white-space: nowrap">
                Standard USA 🇺🇸 (100-1000 friends) | with marketplace , some
                might have dating & groups
              </td>
              <td></td>
              <td class="order-date"><span>NGN4,350.00</span></td>
              <td class="order-status"><span>0 pcs.</span></td>
              <td class="order-total"><span>Out of stock</span></td>
              <!-- <td class="order-action">
                            <a
                              href="#orders-view"
                              class="btn btn-secondary btn-outline btn-block btn-rounded btn-sm"
                              >View</a
                            >
                          </td> -->
            </tr>
          </tbody>
        </table>
      </div>

      <div
        class="btn btn-block btn-primary mt-6"
        style="border-radius: 7px; text-align: center"
      >
        View All
      </div>
    </div>
    <!--end of 🇺🇸 TEXTING-->

    <!--🇺🇸 VPN-->
    <div class="">
      <div
        class="btn btn-dim btn-block mt-4"
        style="border-radius: 7px; text-align: start; padding-left: 5px"
      >
        VPN
      </div>
      <div
        class=""
        style="
          background-color: #f8f8f8;
          border-radius: 7px;
          margin-top: 10px;
          padding: 10px;
        "
      >
        <table class="order-table">
          <thead>
            <tr class="table_sell">
              <th>Title</th>
              <th></th>
              <th>Price</th>
              <th>Stock</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="order-number" style="white-space: nowrap">
                Standard USA 🇺🇸 (100-1000 friends) | with marketplace , some
                might have dating & groups
              </td>
              <td></td>
              <td class="order-date"><span>NGN4,350.00</span></td>
              <td class="order-status"><span>0 pcs.</span></td>
              <td class="order-total"><span>Out of stock</span></td>
              <!-- <td class="order-action">
                            <a
                              href="#orders-view"
                              class="btn btn-secondary btn-outline btn-block btn-rounded btn-sm"
                              >View</a
                            >
                          </td> -->
            </tr>
          </tbody>
        </table>
      </div>

      <div
        class="btn btn-block btn-primary mt-6"
        style="border-radius: 7px; text-align: center"
      >
        View All
      </div>
    </div>
    <!--end of 🇺🇸 VPN-->

    <!--Add the sales page here ending-->
  </div>
  <!--End of market container-->

  <!-- End .page-content-->
</main>
<!-- End Main -->
<%- include ("footer.ejs"); %>
