<%- include ("header.ejs"); %>

<div class="tab-content col-lg-9 col-md-8">
    <div class="tab-pane active" id="dashboard">
        <p class="mb-0">
            Hello <span class="font-weight-bold text-secondary"><%=user.username%></span> 
        </p>
        <p class="">
            From your account dashboard you can view your
            <a href="#orders" class="link-to-tab text-primary">recent orders</a>, get your <a
                href="#address" class="link-to-tab text-primary"> bought accounts
                passwords</a>.
        </p>
        <div class="row cols-lg-3 cols-xs-2 cols-1 nav" href="/orders">

            <div class="ib-wrapper mb-4">
                <div class="icon-box text-center ib-border"><a href="/orders"
                        class="no-tab-item">
                        <span class="icon-box-icon">
                            <i class="p-icon-orders"></i>
                        </span>
                        <div class="icon-box-content">
                            <p>ORDERS</p>
                        </div>
                    </a>
                </div>
            </div>

            <!--
            <div class="ib-wrapper mb-4">
                <div class="icon-box text-center ib-border"><a href="#downloads">
                        <span class="icon-box-icon">
                            <i class="p-icon-download"></i>
                        </span>
                        <div class="icon-box-content">
                            <p>DOWNLOADS</p>
                        </div>
                    </a>
                </div>
            </div>
            -->
            <div class="ib-wrapper mb-4">
                <div class="icon-box text-center ib-border"><a href="#comingsoon">
                        <span class="icon-box-icon">
                            <i class="p-icon-map"></i>
                        </span>
                        <div class="icon-box-content">
                            <p>ADDRESSES</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="ib-wrapper mb-4">
                <div class="icon-box text-center ib-border"><a href="#account">
                        <span class="icon-box-icon">
                            <i class="p-icon-user-solid"></i>
                        </span>
                        <div class="icon-box-content">
                            <p>ACCOUNT DETAILS</p>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="ib-wrapper mb-4">
                <div class="icon-box text-center ib-border"><a href="/shop"
                        class="no-tab-item">
                        <span class="icon-box-icon">
                            <i class="p-icon-heart-solid"></i>
                        </span>
                        <div class="icon-box-content">
                            <p>Shop</p>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="ib-wrapper mb-4">
                <div class="icon-box text-center ib-border"><a href="/dashboard/logout"
                        class="no-tab-item">
                        <span class="icon-box-icon">
                            <i class="p-icon-logout"></i>
                        </span>
                        <div class="icon-box-content">
                            <p>LOGOUT</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

<%- include ("footer.ejs"); %>