<%- include ("header.ejs"); %>

<div class="tab-content col-lg-9 col-md-8">
    <!--here-->
    <div class="tab-pane-two active in" >
        <form method="post" action="/deposit">
        
            <fieldset>
                <legend>Deposit</legend>
                <label>Amount to deposit (min is N1000)</label>
                <input type="number" name="amount">

                <label>depositor id</label>
                <input type="text" value="<%=user._id%>" disabled>

                <div class="">
                    <label>Choose Method</label>
                    <select id="method">
                        <option value="Card" name="Card" >Card</option>
                        <option value="Transfer" disabled>Transfer</option>
                      </select>
                </div>
                
            </fieldset>

            <button type="submit" class="btn btn-primary">Deposit</button>
        </form>


    </div>
        <!--here-->
</div>
</div>
</div>

<%- include ("footer.ejs"); %>